.header {
  box-shadow: var(--shadow);
  background-color: var(--surface-1);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;
}

.header a,
summary {
  text-decoration: underline 0.1em transparent;
  transition: text-decoration-color 250ms ease-in, fill 200ms ease-in;
  border: none;
  padding-inline: inherit;
}

.header nav {
  margin-inline-end: var(--size-5);
  flex-shrink: 0;
}

.header #menu-button {
  display: none;
  padding: var(--size-3);
  border: solid var(--surface-2) 0.15rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .header {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header #menu-button {
    display: flex;
  }

  .header nav {
    width: 100%;
    display: none;
  }
}

.logo {
  justify-content: start;
  align-items: center;
  gap: var(--size-3);
  font-size: var(--font-size-4);
  color: #c50d3e;
  margin-inline-end: var(--size-6);
  padding: 0;
  font-weight: 500;
  display: flex;
}
.logo img {
  width: auto;
  max-height: var(--size-fluid-2);
  filter: none;
  border-radius: inherit;
  aspect-ratio: inherit;
}
.logo svg {
  fill: var(--brand);
}
.logo .full {
  max-height: var(--size-fluid-4);
}
@media (max-width: 1440px) {
  .logo {
    margin-inline-end: 0;
    display: none;
  }
}
@media (max-width: 1024px) {
  .logo {
    display: flex;
  }
}
