{% load wagtailcore_tags i18n wagtailimages_tags component_tags %}
{% wagtail_site as current_site %}
<header class="content header" id="header">
    {% if request.get_host == "hrw-fablab.de" %}
        {% include "molecules/alert.html" %}
    {% endif %}
    <div class="navigation">
        <a class="logo" href="{{ current_site.root_url }}/{{ LANGUAGE_CODE }}">
            {% if settings.global.GlobalSettings.logo %}
                {% image settings.global.GlobalSettings.logo original as logo_image %}
                <img class="{% if settings.global.GlobalSettings.logo_title %} full{% endif %}"
                    src="{{ logo_image.url }}"
                    alt="Logo"
                    loading="eager"
                    decoding="sync">
            {% endif %}
            {{ settings.global.GlobalSettings.logo_title|default:'' }}
        </a>
        <button id="menu-button">Menu</button>
        {% component "menu" %}
        {% if settings.global.GlobalSettings.search %}
            {% component "search" %}
        {% endif %}
    </div>
</header>
