.grabber h2 {
  text-align: center;
  margin-block-end: var(--size-fluid-3);
}

.grabber--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-fluid-3);
  place-items: stretch;
}

.grabber--grid:where([data-layout="magazine"]) {
  grid-template-columns: repeat(6, 1fr);
}

.grabber--grid:where([data-layout="medium"]) {
  grid-template-columns: repeat(3, 1fr);
}

.grabber--grid .card {
  aspect-ratio: var(--aspect-ratio);
  grid-column: var(--grid-column);
}

.grabber--grid[data-layout="newspaper"] .card:nth-child(1) {
  --grid-column: 1 / 3;
}

.grabber--grid[data-layout="newspaper"] .card:nth-child(2) {
  --aspect-ratio: var(--ratio-square);
}

.grabber--grid[data-layout="magazine"] > :nth-child(1) {
  --grid-column: 1 / 4;
  --aspect-ratio: var(--ratio-widescreen);
}

.grabber--grid[data-layout="magazine"] > :nth-child(2) {
  --grid-column: 4 / 7;
  --aspect-ratio: var(--ratio-widescreen);
}

.grabber--grid[data-layout="magazine"] > :nth-child(3) {
  --grid-column: 1 / 3;
}

.grabber--grid[data-layout="magazine"] > :nth-child(4) {
  --grid-column: 3 / 5;
}

.grabber--grid[data-layout="magazine"] > :nth-child(5) {
  --grid-column: 5 / 7;
}


@media only screen and (max-width: 768px) {
  .grabber--grid {
    grid-template-columns: 1fr;
  }
  .grabber--grid .card {
    grid-column: inherit;
    aspect-ratio: unset;
  }
}
