.grabber h2 {
  text-align: center;
  margin-block-end: var(--size-fluid-3);
}

.grabber > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-fluid-3);
}

.grabber > div > :first-child {
  grid-column: 1 / 3;
}

@media (max-width: 768px) {
  .grabber div {
    grid-template-columns: 1fr;
  }
  .grabber > div > :first-child {
    grid-column: inherit;
  }
}
