{% load wagtailimages_tags%}
{% block content %}
<div class="
fl-content
{% if value.cards|length <= 2%}
medium
{% else %}
large
{% endif %}
margin-bottom">
	{% if value.title %}
		<h2 class="text-centered margin-bottom">{{value.title}}</h2>
	{% endif %}
	<div class="fl-grid gallery">
		{% for element in value.cards%}
		{% if element.block_type == "image"%}
			{% load wagtailimages_tags %}
			{% image element.value width-768 format-webp as image_768 %}
			{% image element.value width-480 format-webp as image_480 %}
			<img decoding="async" loading="lazy"
				class="{% if value.contain %}contain{% endif %}"
				alt="{{image_480.alt}}" 
				src="{{image_480.url}}" 
				srcset="
				{{image_480.url}} 480w,
				{{image_768.url}} 768w,
				" 
				sizes="
				(min-width: 768px) 768px,
				(min-width: 480px) 480px
				">
		{% else %}
			{{element}}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}