{% load wagtailimages_tags%}
{% block content %}
<div class="fl-content large margin-bottom">
	{% if value.title %}
		<h2 class="text-centered">{{value.title}}</h2>
	{% endif %}
	<div class="fl-grid gallery">
		{% for element in value.cards%}
		{% if element.block_type == "image"%}
			<picture>
				{% image element.value width-800 as wide_image %}
				<source srcset="{{ wide_image.url }}" media="(min-width: 800px)">
				{% image element.value width-500 %}
			</picture>
		{% else %}
			{{element}}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}