{% load wagtailimages_tags%}
{% block content %}
<div class="
fl-content
{% if value.cards|length <= 2%}
medium
{% else %}
large
{% endif %}
margin-bottom">
	{% if value.title %}
		<h2 class="text-centered margin-bottom">{{value.title}}</h2>
	{% endif %}
	<div class="fl-grid gallery">
		{% for element in value.cards%}
		{% if element.block_type == "image"%}
			<picture>
				{% image element.value width-800 format-webp as wide_image %}
				<source srcset="{{ wide_image.url }}" media="(min-width: 800px)">
				{% image element.value width-500 format-webp %}
			</picture>
		{% else %}
			{{element}}
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}