{% block content %}
<div class="fl-content large margin-bottom">
	{% if value.title %}
	<h2 class="text-centered">{{value.title}}</h2>
	{% endif %}
	<div class="fl-grid cards">
		{% for pages in value.pages%}
			{% for page in pages.get_children.specific|slice:"5"%}
			{% if forloop.counter == 1 %}
				{% include "molecules/card.html" with value=page class="featured"%}
			{% elif forloop.counter == 2 %}
				{% include "molecules/card.html" with value=page class="long"%}
			{% else %}
				{% include "molecules/card.html" with value=page%}
			{% endif %}
			{% endfor %}
		{% endfor%}
	</div>
</div>
{% endblock content %}