{% block content %}
    <section class="content"
        data-style="{% if value.accent %}color{% endif %}"
        data-width="large"
        data-margin-block-end="large">
        {% component "heading" value=value.title anchor=True %}
        {% component_block "grid" layout=value.layout gap="medium" %}
            {% slot "items" %}
                {% for pages in value.pages %}
                    {% for page in pages.get_children.specific|dictsortreversed:'date'|slice:value.amount %}
                        {% include "molecules/card.html" with value=page %}
                    {% endfor %}
                {% endfor %}
            {% endslot %}
        {% endcomponent_block %}
        {% include "molecules/pagination.html" with element=page %}
    </section>
{% endblock content %}
