{% block content %}
<div class="
fl-content
{% if value.cards|length <= 2%}
medium
{% else %}
large
{% endif %}
margin-bottom">
	{% if value.title %}
		<h2 class="text-centered margin-bottom">{{value.title}}</h2>
	{% endif %}
	<div class="fl-grid cards">
		{% for element in value.cards%}
			{% if element.block_type == "card" %}
				{% include "molecules/card.html" with value=element.value class="text-centered"%}
			{% elif element.block_type == "person" %}
				{% include "molecules/person.html" with value=element.value%}
			{% else %}
				{{element}}
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}