{% block content %}
    <div class="fl-content margin"
         data-width="{% if value.cards|length <= 2 %}medium{% else %}large{% endif %}"
         data-margin-direction="block-end"
         data-margin-size="large">
        {% if value.title %}
            {% include "atoms/heading.html" with value=value %}
        {% endif %}
        <div class="fl-grid gap" data-size="{{ value.layout }}" data-gap="medium">
            {% for element in value.cards %}
                {% if element.block_type == "card" %}
                    {% include "molecules/card.html" with value=element.value class="aspect-widescreen" %}
                {% elif element.block_type == "person" %}
                    {% include "molecules/person.html" with value=element.value.person %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
