{% block content %}
    <div class="fl-content margin-block-end-large" data-width="large">
        {% if value.title %}
            {% include "atoms/heading.html" with value=value.title %}
        {% endif %}
        {% regroup value.members.members_ordered by role as role_list %}
        {% for role in role_list %}
            <div class="margin-block-large">
                {% if role.grouper != None %}
                    {% include "atoms/heading.html" with value=role.grouper %}
                {% endif %}
                <div class="fl-grid gap-medium" data-size="medium">
                    {% for element in role.list %}
                        {% include "molecules/person.html" with value=element.person %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
