{% block content %}
    <div class="fl-content margin-block-end-large"
         data-width="{% if value.cards|length <= 2 %}medium{% else %}large{% endif %}">
        {% if value.title %}
            {% include "atoms/heading.html" with value=value %}
        {% endif %}
        <div class="fl-grid gap-medium" data-size="{{ value.layout }}">
            {% for element in value.members.related_member.all %}
                {% if value.filter %}
                    {% if element.person.organisation == value.filter %}
                        {% include "molecules/person.html" with value=element.person %}
                    {% endif %}
                {% else %}
                    {% include "molecules/person.html" with value=element.person %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
