.embed {
  display: flex;
  gap: var(--size-fluid-3);
  align-items: stretch;
}

.embed div {
  flex: 0.4;
  background: var(--brand-gradient);
  border-radius: var(--radius-3);
  padding: var(--size-fluid-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embed h2 {
  font-size: var(--font-size-8);
  overflow-wrap: break-word;
  color: var(--text-1-dark);
}

.embed iframe {
  flex: 1;
  border-radius: var(--radius-3);
  width: 100%;
  object-fit: cover;
  aspect-ratio: var(--ratio-widescreen);
  position: relative;
}

.hidden {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.show {
  opacity: 1;
  transform: scale(1);
}

@media (max-width: 1024px) {
  .embed h2 {
    font-size: var(--font-size-5);
  }
}