Brotli==1.0.9
Django==4.1.7
python-dotenv==0.21.1
wagtail==4.2
wagtail-localize==1.4
wagtailmedia==0.13.0
whitenoise==6.3.0
wagtail-cache==2.2.0
python-dateutil==2.8.2
Office365-REST-Python-Client==2.3.16
django-components==0.25
mysqlclient==2.1.1