Brotli==1.0.9
Django==3.2.16
python-dotenv==0.21.1
wagtail==4.1.1
wagtail-localize==1.3.3
wagtailmedia==0.12.0
whitenoise==6.3.0
wagtail-cache==2.2.0
django-recaptcha==3.0.0
python-dateutil==2.8.2
Office365-REST-Python-Client==2.3.16
