{% load filter_tag component_tags %}
{% block content %}
    <section class="content project" data-width="large" data-margin-block-end="large">
        {% if value.headings %}
            {% regroup value.members.members_ordered by role as role_list %}
            {% for role in role_list %}
                {% if role.grouper.visible %}
                    <div>
                        <h2>{{role.grouper}}</h2>
                        <div class="project--grid" data-length="{% if role.list|length <= 3 %}small{% endif %}">
                            {% for element in role.list %}
                                {% component "person" title=element.person.title firstname=element.person.first_name lastname=element.person.last_name image=element.person.image link="" area=element.person.responsibility %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="project--grid" data-length="{% if value.members.members_ordered|length <= 3 %}small{% endif %}">
                {% for element in value.members.members_ordered %}
                    {% component "person" title=element.person.title firstname=element.person.first_name lastname=element.person.last_name image=element.person.image link="" area=element.person.responsibility %}
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock content %}
