.project {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-6);
}

.project h2 {
  text-align: center;
  margin-block-end: var(--size-fluid-3);
}

.project--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  gap: var(--size-fluid-4);
}

.project--grid[data-length="small"] {
  display: flex;
  justify-content: center;
  gap: var(--size-fluid-6);
  flex-wrap: wrap;
}
