<nav class="menu" id="menu">
    <ul>
        {% for element in menuitems %}
            <li>
                {% if element.content_type.model == "folderpage" %}
                    <details>
                        <summary>
                            {{ element.localized }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                        </summary>
                        <ul class="menu" data-type="submenu">
                            {% for subelement in element.get_children.specific %}
                                <li>
                                    <a href="{{ subelement.localized.url }}" hx-boost="true" hx-push-url="true">{{ subelement.localized }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </details>
                {% else %}
                    <a href="{{ element.localized.url }}" hx-boost="true" hx-push-url="true">{{ element.localized }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>