{% extends "wagtailadmin/base.html" %}
{% block titletag %}{{ current_year }} calendar{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title="Devices" icon="date" %}

    <div class="nice-padding">
        <a href="{% url 'devices_admin:load' %}" class="button">
            Load Device Data
        </a>

        <a href="{% url 'devices_admin:delete' %}" class="button">
            Delete Device Data
        </a>

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Anzahl</th>
                </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr>
                        <td>{{ device.title }}</td>
                        <td>{{ device.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <style>
        .table {
            width: 100%;
            border-collapse: collapse;
            margin-block: 3rem;
        }

        .table > * {
            text-align: left;
        }
    </style>
{% endblock %}