.footer {
  background: var(--noise-1);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--size-fluid-4);
  flex-wrap: wrap;
  gap: var(--size-fluid-4);
}

.footer ul {
  list-style: none;
  display: flex;
  gap: var(--size-fluid-3);
}

.footer a {
  color: var(--text-1);
}

.footer a:hover {
  text-decoration: underline 0.1em var(--text-2);
}

@media only screen and (max-device-width: 500px) {
  .footer ul {
    flex-direction: column;
  }
}
