{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <main id="main"  data-margin-block-start="medium">
        {% if page.heading %}<h1 class="text-centered" data-margin-block-end="medium">{{ page.heading }}</h1>{% endif %}
        <div class="content grid gap"
             data-width="large"
             data-layout="large"
             data-gap="medium">
            {% for page in children %}
                {% include "molecules/card.html" with value=page class="aspect-widescreen" %}
            {% endfor %}
        </div>
        {% include "molecules/pagination.html" with element=page %}
    </main>
{% endblock content %}
