{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
    <main id="main"  data-margin-block-start="medium">
        {% component_block "grid" width="large" layout="large" gap="medium" %}
            {% slot "items" %}
                {% for page in children %}
                    {% include "molecules/card.html" with value=page %}
                {% endfor %}
            {% endslot %}
        {% endcomponent_block %}
        {% include "molecules/pagination.html" with element=page %}
    </main>
{% endblock content %}
