{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block content %}
<main class="fl-main" id="main">
	<div class="fl-hero-media medium">
		{% if page.image %}
		{% load wagtailimages_tags %}
		{% image page.image original %}
		{% endif %}
	</div>
	<article class="fl-article fl-content medium">
		<header class="fl-article-header">
			<a href="{{parent.url}}?tag={{page.tag}}">{{page.tag}}</a>
			<h1>{{page.title}}</h1>
		</header>
		<section class="fl-content fl-article-body small">
			<p>
				{{ page.body|richtext }}
			</p>
		</section>
	</article>
</main>
{% endblock content %}