{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <main id="main" class="project">
        <div class="hero" data-margin-block-end="large">
            <div data-style="glass">
                <h1>{{page.title}}</h1>
                <p>
                    {{page.introduction}}
                </p>
                {% if page.project_links %}
                    <div class="flex gap" data-gap="small">
                        {% for link in page.project_links.all %}<a href="{{ link.url }}">{{ link.title }}</a>{% endfor %}
                    </div>
                {% endif %}
            </div>
            <figure>
                <picture>
                    {% image page.image fill-1920x700 format-webp webpquality-80 as image_1920 %}
                    {% image page.image fill-1440x700 format-webp webpquality-60 as image_1440 %}
                    {% image page.image fill-1024x700 format-webp webpquality-60 as image_1024 %}
                    {% image page.image fill-768x576 format-webp webpquality-60 as image_768 %}
                    {% image page.image fill-260x200 format-webp webpquality-60 as image_480 %}
                    <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w, {{ image_1024.url }} 1024w, {{ image_1440.url }} 1440w, {{ image_1920.url }} 1920w"
                        sizes=" (min-width: 1800px) 1920px, (min-width: 1440px) 1440px, (min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 480px) 480px"
                        type="image/webp">
                    {% image page.image fill-1920x700 format-jpeg as image_1920 %}
                    {% image page.image fill-1440x700 format-jpeg as image_1440 %}
                    {% image page.image fill-1024x700 format-jpeg as image_1024 %}
                    {% image page.image fill-768x576 format-jpeg as image_768 %}
                    {% image page.image fill-260x200 format-jpeg as image_480 %}
                    <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w, {{ image_1024.url }} 1024w, {{ image_1440.url }} 1440w, {{ image_1920.url }} 1920w"
                        sizes=" (min-width: 1800px) 1920px, (min-width: 1440px) 1440px, (min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 480px) 480px"
                        type="image/jpg">
                    <img src="{{ image_480.url }}"
                        alt="{{ image_480.alt }}"
                        decoding="sync"
                        loading="eager"
                        rel="preload">
                </picture>
                <figcaption>
                    {{ value.image.credit }}
                </figcaption>
            </figure>
        </div>
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </main>
{% endblock content %}