{% load static wagtailcore_tags %}
<section class="content split" data-width="large" data-style="color">
    <picture>
        <img src=" {% static 'images/illu_newsletter.png' %}"
             alt=""
             decoding="async"
             loading="lazy"/>
    </picture>
    <form class="newsletter" action="{% url 'newsletter' %}" id="newsletter" method="POST">
        <h2>How to know (almost) anything</h2>
        <p>Melde dich jetzt an und verpasse keine Neuigkeiten und Veranstaltungen mehr</p>
        <div>
            <label for="email" >E-Mail Adresse</label>
            <input type="email" id="email">
        </div>
        <button type="submit">Jetzt abonnieren</button>
    </form>
</section>

<script>
    document.getElementById("newsletter").addEventListener("submit", async (event) => {
        event.preventDefault()
        if (event.target.elements[0].value === "") return;

        const data = await fetch(event.target.action, {
            method: event.target.method,
            body: JSON.stringify({email: event.target.elements[0].value})
        });

        const result = await data.json()

        if (result.success) {
            event.target.innerHTML=""
            console.log("success")
        }
    })
</script>

<style>
    .newsletter input {
        width: 100%;
    }

    .newsletter button {
        padding: var(--size-3);
        padding-inline: var(--size-4);
        background-color: var(--surface-1);
        color: var(--brand);
        -webkit-user-select: none;
        user-select: none;
        border-radius: .7rem;
        font-weight: 400;
        text-decoration: none;
        border: none;
    }
</style>