{% load index_tag %}
{% block content %}
    {% if children.paginator.num_pages > 1 %}
        <div class="fl-content margin"
             data-width="small"
             data-margin-direction="block"
             data-margin-size="medium">
            <nav class="fl-menu centered" aria-label="pagination">
                <ul class="fl-menu justify-center">
                    {% if children.has_previous %}
                        <li>
                            <a href="{% url_replace request page=children.previous_page_number %}">Newer</a>
                        </li>
                    {% endif %}
                    {% for page_num in children.paginator.page_range %}
                        <li>
                            <a href="{% url_replace request page=page_num %}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if children.has_next %}
                        <li>
                            <a href="{% url_replace request page=children.next_page_number %}">Older</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock content %}
