{% load index_tag %}
{% block content %}
    {% if children.paginator.num_pages > 1 %}
        <section class="content" data-width="small" data-margin-block="medium">
            <nav class="menu centered" aria-label="pagination">
                <ul class="menu justify-center">
                    {% if children.has_previous %}
                        <li>
                            <a href="{% url_replace request page=children.previous_page_number %}">Newer</a>
                        </li>
                    {% endif %}
                    {% for page_num in children.paginator.page_range %}
                        <li>
                            <a href="{% url_replace request page=page_num %}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if children.has_next %}
                        <li>
                            <a href="{% url_replace request page=children.next_page_number %}">Older</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </section>
    {% endif %}
{% endblock content %}
