{% block content %}
<section class="fl-card fl-person">
	{% if value.image%}
	{% load wagtailimages_tags %}
	<picture>
		{% image value.image original as wide_image %}
		<source srcset="{{ wide_image.url }}" media="(min-width: 800px)">
		{% image value.image width-800 jpegquality-60 %}
	</picture>
	{% endif %}

	<div>
		{% if value.name %}
		<header>
			{% if value.employment %}
			<p>{{value.employment}}</p>
			{% endif %}
			{% if value.link %}
				<a href="{{value.link}}"><h3>{{value.name}}</h3></a>
			{% else %}
				<h3>{{value.name}}</h3>
			{% endif %}
		</header>
		{% endif %}

		{% if value.since or value.career or value.responsibility or value.expert or value.projects%}
		<dl class="fl-dl">
			<div class="fl-flex row">
				{% if value.since %}
				<dt><strong>Im Labor seit:</strong></dt>
				<dd>{{value.since}}</dd>
				{% endif %}
			</div>

			{% if value.career %}
			<div class="fl-flex column">
				<dt><strong>Lebenslauf:</strong></dt>
				<dd>{{value.career}}</dd>
			</div>
			{% endif %}

			{% if value.responsibility %}
			<div class="fl-flex column">
				<dt><strong>Aufgabenbereiche:</strong></dt>
				<dd>{{value.responsibility}}</dd>
			</div>
			{% endif %}

			{% if value.expert %}
			<div class="fl-flex column">
				<dt><strong>Experte für:</strong></dt>
				<dd>{{value.expert}}</dd>
			</div>
			{% endif %}

			{% if value.projects %}
			<div class="fl-flex column">
				<dt><strong>Projekte:</strong></dt>
				<dd>{{value.projects}}</dd>
			</div>
			{% endif %}
		</dl>
		{% endif %}

		{% if value.description %}
		<p>{{value.description}}</p>
		{% endif %}
	</div>
</section>
{% endblock content %}