{% block content %}
<section class="fl-card fl-person">
	{% load wagtailimages_tags %}
	<picture>
		{% image value.image fill-500x500 format-webp as image_768 %}
		{% image value.image fill-300x300 format-webp as image_480 %}
		<source srcset="
		{{image_480.url}} 480w,
		{{image_768.url}} 768w," sizes="
		(min-width: 768px) 768px,
		(min-width: 480px) 480px" type="image/webp">
		{% image value.image fill-500x500 format-jpeg as image_768 %}
		{% image value.image fill-300x300 format-jpeg as image_480 %}
		<source srcset="
		{{image_480.url}} 480w,
		{{image_768.url}} 768w," sizes="
		(min-width: 768px) 768px,
		(min-width: 480px) 480px" type="image/jpg">
		<img class="aspect-box" src="{{image_480.url}}" alt="{{value.image.alt}}" decoding="async" loading="lazy">
	</picture>

	<div class="padding-inline-tiny">
		{% if value.name %}
		<header class="margin-block-end-small">
			{% if value.employment %}
			<p>{{value.employment}}</p>
			{% endif %}
			{% if value.link %}
			<a href="{{value.link}}">
				<h3>{{value.name}}</h3>
			</a>
			{% else %}
			<h3>{{value.name}}</h3>
			{% endif %}
		</header>
		{% endif %}

		{% if value.since or value.career or value.responsibility or value.expert or value.projects%}
		<dl class="fl-flex-column gap-small">
			<div class="fl-flex-row gap-tiny">
				{% if value.since %}
				<dt><strong>Im Labor seit:</strong></dt>
				<dd>{{value.since}}</dd>
				{% endif %}
			</div>

			{% if value.career %}
			<div class="fl-flex-column">
				<dt><strong>Lebenslauf:</strong></dt>
				<dd>{{value.career}}</dd>
			</div>
			{% endif %}

			{% if value.responsibility %}
			<div class="fl-flex-column">
				<dt><strong>Aufgabenbereiche:</strong></dt>
				<dd>{{value.responsibility}}</dd>
			</div>
			{% endif %}

			{% if value.expert %}
			<div class="fl-flex-column">
				<dt><strong>Experte für:</strong></dt>
				<dd>{{value.expert}}</dd>
			</div>
			{% endif %}

			{% if value.projects %}
			<div class="fl-flex-column">
				<dt><strong>Projekte:</strong></dt>
				<dd>{{value.projects}}</dd>
			</div>
			{% endif %}
		</dl>
		{% endif %}

		{% if value.description %}
		<p>{{value.description}}</p>
		{% endif %}
	</div>
</section>
{% endblock content %}