<div>
    <form
    role="search"
    class="search"
    action="{% url 'search' %}"
    method="get"
    autocomplete="off">
    <input id="search" type="search" aria-label="search text" name="query">
    <input type="submit" style="display: none;">
</form>

<ul id="results" class="results">
    results
</ul>

</div>
<script>
    function debounce(func, delay = 250) {
    let timerId;
    return (...args) => {
        clearTimeout(timerId);
        timerId = setTimeout(() => {
            func.apply(this, args);
        }, delay);
    };

}
    const search = document.getElementById("search")
    const results = document.getElementById("results")

    const input = async (event) => {
        if (event.target.value.length <= 2) return
        resetResults()
        const query = event.target.value
        const res = await fetch(`${window.location.origin}/search_json/?${(new URLSearchParams({ query })).toString()}`)
        const data = await res.json()
        displayResults(data)
    }

    const displayResults = (data) => {
        data.map(item => {
            const li = document.createElement("li")
            li.innerHTML = `
            ${item.title}
            `
            results.appendChild(li)
        })
    }

    const resetResults = () => {
        results.innerHTML = ""
    }

    search.addEventListener("input", debounce(input))
</script>