/* purgecss start ignore */
:where(html) {
	--size-1: 0.1rem;
	--size-2: 0.3rem;
	--size-3: 0.5rem;
	--size-4: 1rem;
	--size-5: 2rem;
	--size-6: 3rem;
	--size-7: 5rem;
	--size-8: 7rem;
	--size-9: 10rem;

	--size-fluid-1: clamp(.5rem, 1vw, 1rem);
	--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
	--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
	--size-fluid-4: clamp(2rem, 4vw, 3rem);
	--size-fluid-5: clamp(4rem, 5vw, 5rem);
	--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
	--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
	--size-fluid-8: clamp(10rem, 20vw, 15rem);
	--size-fluid-9: clamp(15rem, 30vw, 20rem);
}
:where(html) {
	--font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
	--font-serif: ui-serif,serif;
	--font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;

	--font-weight-1: 100;
	--font-weight-2: 200;
	--font-weight-3: 300;
	--font-weight-4: 400;
	--font-weight-5: 500;
	--font-weight-6: 600;
	--font-weight-7: 700;
	--font-weight-8: 800;
	--font-weight-9: 900;

	--font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
	--font-size-2: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
	--font-size-3: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	--font-size-4: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
	--font-size-5: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
	--font-size-6: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
	--font-size-7: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
	--font-size-8: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

	--font-lineheight-0: 1.5;

	--font-size-fluid-0: clamp(1.5rem, 4vw, 1.7rem);
}
:where(html) {
	--shadow-color: 220 3% 15%;
	--shadow-strength: 1%;
	--shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--shadow-2: 
	  0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
	--shadow-3: 
	  0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-4: 
	  0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
	--shadow-5: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-6: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
	  0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--inner-shadow-0: inset 0 0 0 1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-1: inset 0 1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-2: inset 0 1px 4px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-3: inset 0 2px 8px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-4: inset 0 2px 14px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
}
:where(html) {
	--aspect-box: 1;
	--aspect-landscape: 4/3;
	--aspect-portrait: 3/4;
	--aspect-widescreen: 16/9;
}
/* purgecss end ignore */
:root {
	--brand: black;
	--text-1: black;
	--text-2: gray;
	--surface-1: lightgray;
	--surface-2: lightgray;
}
/* purgecss start ignore */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: auto;
}
main {
	min-height: 100vh;
}
img,
picture,
video,
iframe,
canvas {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
input,
button,
textarea,
select {
	font: inherit;
	background-color: transparent;
	border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
a {
	color: inherit;
}
footer {
	position: sticky;
	top: 100vh;
}
/* purgecss end ignore */
h1{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}
h2{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}
h3{
	font-size: var(--font-size-5);
	font-family: Segoe UI;
}
h4{
	font-size: var(--font-size-4);
	font-family: Segoe UI;
}
h5{
	font-size: var(--font-size-3);
	font-family: Segoe UI;
}
p{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
a{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
a:hover {
	color: var(--blue-8);
}
time{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
button{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
button:hover {
	color: var(--blue-8);
}
address {
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
li {
	font-size: var(--font-size-3);
}
blockquote {
	font-size: var(--font-size-4);
}
dl {
	font-size: var(--font-size-3);
}
th {
	font-size: var(--font-size-3);
}
td {
	font-size: var(--font-size-3);
}
body {
	background-color: var(--surface-1);
	color: var(--text-1);
}
a:hover {
	color: var(--brand);
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-2);
}
svg {
	pointer-events: none;
}
/* purgecss start ignore */
.fl-grid {
	display: grid;
	gap: var(--size-fluid-3);
	justify-content: center;
	place-content: end center;
}
.fl-grid.cards {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}
.fl-grid.gallery {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr))
}
.fl-grid.gallery *:where(picture, img) {
		aspect-ratio: var(--aspect-widescreen);
		object-fit: contain;
	}
.fl-grid.columns {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
}
.fl-grid.list {
	grid-template-columns: 1fr;
}
/* purgecss end ignore */
.fl-content {
	--width: 85vw;
	width: min(var(--width), 100rem);
	margin-inline: auto;
}
.fl-content.large {
	width: min(var(--width), 75rem);
}
.fl-content.medium {
	width: min(var(--width), 60rem);
}
.fl-content.small {
	width: min(var(--width), 50rem);
}
.fl-content.tiny {
	width: min(var(--width), 30rem);
}
.fl-flex {
	display: flex;
	gap: var(--size-fluid-3);
}
.fl-flex-row {
	flex-direction: row;
}
.fl-card {
	aspect-ratio: var(--aspect-widescreen)
}
.fl-card > :not(picture, img) {
		padding: 0 var(--size-2);
	}
.fl-card header {
		margin-bottom: var(--size-4);
	}
@media (max-width: 768px) {
		.fl-card {
			grid-column: inherit !important;
			aspect-ratio: var(--aspect-widescreen) !important;
		}
	}
.fl-card.featured {
	grid-column: 1 / 3;
	aspect-ratio: var(--aspect-widescreen);
}
.fl-card.long {
	aspect-ratio: var(--aspect-box);
}
.fl-card.row {
	aspect-ratio: inherit;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--size-fluid-3)
}
.fl-card.row img {
		aspect-ratio: var(--aspect-widescreen);
	}
.fl-card.row > div {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
.fl-navigation {
	padding: var(--size-fluid-2);
	box-shadow: var(--shadow-2);
	background-color: var(--surface-1);
	position: sticky;
	top: 0;
	z-index: 10;
}
.fl-language {
	margin-left: auto;
}
.fl-menu {
	display: flex;
	gap: var(--size-fluid-4);
	align-items: center
}
.fl-menu a {
		text-decoration: none;
	}
.fl-menu :hover:where(button, a) {
		color: var(--brand);
		text-decoration: underline;
	}
.fl-menu > button {
		display: none;
		margin-left: auto;
	}
@media (max-width: 1440px) {
		.fl-menu {
			display: grid;
			grid-template-columns: 1fr auto;
			place-items: center start;
		}

		.fl-menu > button {
			display: block;
		}
	}
.fl-menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--size-fluid-4);
	width: 100%
}
.fl-menu ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
@media (max-width: 1440px) {
		.fl-menu ul {
			grid-column: 1 / 3;
			flex-direction: column;
			align-items: start;
			display: none;
		}

		.fl-menu ul li {
			width: 100%;
			align-items: inherit;
			flex-direction: column;
			border-bottom: solid thin var(--surface-2);
			padding: var(--size-3) 0 var(--size-3) 0;
		}
	}
.fl-menu.submenu {
	flex-direction: column;
	align-items: start;
	left: 0;
	gap: var(--size-fluid-2);
	transform: translateY(70%);
	position: absolute;
	background-color: var(--surface-2);
	padding: var(--size-fluid-1);
	box-shadow: var(--shadow-2);
	border-radius: var(--size-2);
	width: max-content
}
@media (max-width: 1440px) {
		.fl-menu.submenu {
			transform: inherit;
			background-color: inherit;
			box-shadow: inherit;
			display: flex;
			position: inherit;
			align-items: start;
		}
	}
.fl-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-2);
	flex-shrink: 0;
	font-size: var(--font-size-4)
}
.fl-logo img {
		width: auto;
		max-height: var(--size-fluid-3);
	}
.fl-logo svg {
		fill: var(--brand);
	}
.fl-split {
	display: grid;
	grid-template-columns: 1fr 0.9fr;
	gap: var(--size-fluid-5);
	transition: box-shadow 0.3s ease
}
.fl-split :where(picture, img) {
		object-fit: cover;
		aspect-ratio: var(--aspect-widescreen);
	}
@media (max-width: 1024px) {
		.fl-split {
			grid-template-columns: 1fr !important;
			gap: 0;
		}

		.fl-split .fl-split-body{
			order: 1;
		}

		.fl-split .fl-split-media img{
			aspect-ratio: 6/ 3;
		}
	}
.fl-split-media {
	align-self: center;
}
.fl-split-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--size-fluid-1);
}
.fl-author {
	display: flex;
	align-items: center;
	gap: var(--size-3)
}
.fl-author img {
		width: var(--size-6);
		height: var(--size-6);
		object-fit: cover;
		border-radius: 50%;
	}
/* purgecss start ignore */
.fl-paragraph {
	display: flex;
	flex-direction: column;
	align-items: start
}
.fl-paragraph img {
		aspect-ratio: var(--aspect-landscape);
	}
.fl-paragraph ul {
		padding: revert;
	}
.fl-paragraph div {
		aspect-ratio: 3 / 2;
		width: 100%;
		height: 100%;
	}
.fl-paragraph .richtext-image.left {
		aspect-ratio: inherit;
		max-width: 100%;
		width: inherit;
	}
.fl-paragraph .richtext-image.centered {
		aspect-ratio: inherit;
		align-self: center;
		max-width: 100%;
		width: inherit;
	}
/* purgecss end ignore */
.fl-hero {
  display: grid;
  grid-template: "container";
  place-items: center center;
  height: 70vh;
  max-height: 700px;
  overflow: hidden
}
.fl-hero > * {
    grid-area: container;
  }
.fl-hero img {
    grid-area: container;
    z-index: -1;
  }
@media (max-width: 1024px) {
    .fl-hero {
      min-height: 50vh;
      height: max-content;
    }

    .fl-hero .fl-content {
      align-self: end;
      width: 100%;
      height: 100%;
    }
  }
.fl-hero-content {
  align-self: end;
  position: relative;
  grid-area: container;
  color: var(--text-1);
  background-color: var(--brand);
  color: var(--surface-1);
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: var(--size-5)
}
.fl-hero-content h1 {
    font-size: var(--font-size-7);
    margin-bottom: var(--size-5);
  }
.fl-hero-content p {
    font-size: var(--font-size-4);
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fl-hero-content {
      color: var(--surface-1);
      background-color: inherit;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
@media (max-width: 768px) {
    .fl-hero-content {
      width: 100%;
      height: 100%;
      justify-content: end;
      align-items: center;
    }

    .fl-hero-content h1 {
      font-size: var(--font-size-6);
    }

    .fl-hero-content p {
      font-size: var(--font-size-3);
    }
  }
table {
width: 100%;
margin: 20px auto;
table-layout: auto;
overflow-x: auto;
}
table,
td,
th {
	border-collapse: collapse;
}
th,
td {
	padding: 10px;
	border: solid 1px;
	text-align: center;
}
.fl-blockquote {
		text-align: center;
	}
.fl-blockquote p {
		quotes: "“" "“" "“" "“";
		font-size: var(--font-size-5);
	}
.fl-blockquote p::before {
		content: open-quote;
	}
.fl-blockquote p::after {
		content: close-quote;
	}
.fl-media > :where(img,video,iframe) {
		aspect-ratio: var(--aspect-widescreen);
	}
.fl-person dl > div {
		display: flex;
		gap: var(--size-3);
		margin-bottom: var(--size-3);
	}
.fl-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}
@media (max-width: 768px) {
    .fl-banner {
      height: max-content;
    }
  }
.fl-banner-content {
  display: flex;
  align-self: center;
  justify-content: center;
  grid-area: container;
  color: var(--text-1);
  background-color: rgba(255, 255, 255, 0.85);
  padding: var(--size-fluid-1)
}
.fl-banner-content h1 {
    font-size: var(--font-size-7);
  }
.fl-banner-content p {
    font-size: var(--font-size-5);
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fl-banner-content {
      padding: var(--size-fluid-5);
      color: var(--surface-1);
      background-color: inherit;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
@media (max-width: 768px) {
    .fl-banner-content {
      height: 100%;
      width: 100%;
      padding: var(--size-fluid-5);
    }

    .fl-banner-content h1 {
      font-size: var(--font-size-6);
    }

    .fl-banner-content p {
      font-size: var(--font-size-4);
      width: inherit;
    }
  }
.fl-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}
.fl-footer-content {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	gap: var(--size-fluid-5);
}
.fl-footer-content div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center
	}
.fl-footer-content div div {
			text-align: start;
			align-items: start;
		}
.fl-footer-nav ul {
		display: flex;
		list-style: none;
		gap: var(--size-4);
	}
.fl-article > img {
	aspect-ratio: var(--aspect-widescreen);
}
.fl-article-header div {
	display: flex;
	align-items: center;
	gap: var(--size-fluid-3);
}
.hidden {
	display: none !important;
}
.text-start {
	text-align: start;
}
.text-centered {
	text-align: center;
}
.text-end {
	text-align: end;
}
.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.fl-accent {
	background-color: var(--brand);
	color: var(--surface-1)
}
.fl-accent a:hover {
		color: var(--text-1);
	}
.fl-accent:nth-child(odd) {
	background-color: inherit;
	color: inherit
}
.fl-accent:nth-child(odd) a:hover {
		color: var(--brand);
	}
.fl-accent:nth-child(odd) .fl-split {
		grid-template-columns: 0.9fr 1fr;
	}
.fl-accent:nth-child(odd) .fl-split-body {
		order: 1;
	}
.fl-brand {
	background-color: var(--brand);
	color: var(--surface-1)
}
.fl-brand a:hover {
		color: var(--text-1);
	}
.margin {
	margin: var(--size-fluid-4) !important;
}
.margin-top {
	margin-top: var(--size-fluid-4) !important;
}
.margin-bottom {
	margin-bottom: var(--size-fluid-4) !important;
}
.margin-left {
	margin-left: var(--size-fluid-4) !important;
}
.margin-right {
	margin-right: var(--size-fluid-4) !important;
}
.padding {
	padding: var(--size-fluid-4) !important;
}
.padding-top {
	padding-top: var(--size-fluid-4) !important;
}
.padding-bottom {
	padding-bottom: var(--size-fluid-4) !important;
}
.padding-left {
	padding-left: var(--size-fluid-4) !important;
}
.padding-right {
	padding-right: var(--size-fluid-4) !important;
}
.bg-color-brand {
	background-color: var(--brand);
}
.color-brand {
	color: var(--brand);
	fill: var(--brand);
}
.color-text-1 {
	color: var(--text-1);
}