/* purgecss start ignore */
:where(html) {
	--size-1: 0.1rem;
	--size-2: 0.3rem;
	--size-3: 0.5rem;
	--size-4: 1rem;
	--size-5: 2rem;
	--size-6: 3rem;
	--size-7: 5rem;
	--size-8: 7rem;
	--size-9: 10rem;

	--size-fluid-1: clamp(.5rem, 1vw, 1rem);
	--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
	--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
	--size-fluid-4: clamp(2rem, 4vw, 3rem);
	--size-fluid-5: clamp(4rem, 5vw, 5rem);
	--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
	--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
	--size-fluid-8: clamp(10rem, 20vw, 15rem);
	--size-fluid-9: clamp(15rem, 30vw, 20rem);
}
:where(html) {
	--font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
	--font-size-2: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
	--font-size-3: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	--font-size-4: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
	--font-size-5: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
	--font-size-6: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
	--font-size-7: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
	--font-size-8: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
:where(html) {
	--shadow-color: 220 3% 15%;
	--shadow-strength: 1%;
	--shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--shadow-2: 
	  0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
	--shadow-3: 
	  0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-4: 
	  0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
	--shadow-5: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-6: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
	  0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--inner-shadow-0: inset 0 0 0 1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-1: inset 0 1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-2: inset 0 1px 4px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-3: inset 0 2px 8px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-4: inset 0 2px 14px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
}
:where(html) {
	--aspect-box: 1;
	--aspect-landscape: 4/3;
	--aspect-portrait: 3/4;
	--aspect-widescreen: 16/9;
}
/* purgecss end ignore */
/* purgecss start ignore */
.hidden {
  display: none !important;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fl-accent {
  background-color: var(--brand);
  color: var(--surface-1)
}
.fl-accent a:hover {
    color: var(--surface-2) !important;
  }
.fl-accent:nth-child(odd) {
  background-color: inherit;
  color: inherit
}
.fl-accent:nth-child(odd) a:hover {
    color: var(--brand) !important;
  }
.fl-accent:nth-child(odd) .fl-split {
    grid-template-columns: 0.9fr 1fr;
  }
.fl-accent:nth-child(odd) .fl-split > :first-child {
    order: 1;
  }
.fl-brand {
  background-color: var(--brand);
  color: var(--surface-1)
}
.fl-brand a:hover {
    color: var(--surface-2) !important;
  }
.fl-glass {
  background-color: var(--brand);
  color: var(--surface-1)
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .fl-glass {
      background-color: inherit;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
.contain {
  object-fit: contain !important;
}
.cover {
  object-fit: cover;
}
/* purgecss end ignore */
.margin-large {
	margin: var(--size-fluid-6);
}
.margin-medium {
	margin: var(--size-fluid-4);
}
.margin-small {
	margin: var(--size-fluid-1);
}
.margin-tiny {
	margin: var(--size-2);
}
.margin-block-large {
	margin-block: var(--size-fluid-6);
}
.margin-block-medium {
	margin-block: var(--size-fluid-4);
}
.margin-block-small {
	margin-block: var(--size-fluid-1);
}
.margin-block-tiny {
	margin-block: var(--size-2);
}
.margin-inline-large {
	margin-inline: var(--size-fluid-6);
}
.margin-inline-medium {
	margin-inline: var(--size-fluid-4);
}
.margin-inline-small {
	margin-inline: var(--size-fluid-1);
}
.margin-inline-tiny {
	margin-inline: var(--size-2);
}
.margin-inline-start-large {
	margin-inline-start: var(--size-fluid-6);
}
.margin-inline-start-medium {
	margin-inline-start: var(--size-fluid-4);
}
.margin-inline-start-small {
	margin-inline-start: var(--size-fluid-1);
}
.margin-inline-start-tiny {
	margin-inline-start: var(--size-2);
}
.margin-inline-end-large {
	margin-inline-end: var(--size-fluid-6);
}
.margin-inline-end-medium {
	margin-inline-end: var(--size-fluid-4);
}
.margin-inline-end-small {
	margin-inline-end: var(--size-fluid-1);
}
.margin-inline-end-tiny {
	margin-inline-end: var(--size-2);
}
.margin-block-start-large {
	margin-block-start: var(--size-fluid-6);
}
.margin-block-start-medium {
	margin-block-start: var(--size-fluid-4);
}
.margin-block-start-small {
	margin-block-start: var(--size-fluid-1);
}
.margin-block-start-tiny {
	margin-block-start: var(--size-2);
}
.margin-block-end-large {
	margin-block-end: var(--size-fluid-6);
}
.margin-block-end-medium {
	margin-block-end: var(--size-fluid-4);
}
.margin-block-end-small {
	margin-block-end: var(--size-fluid-1);
}
.margin-block-end-tiny {
	margin-block-end: var(--size-2);
}
.gap-large {
	gap: var(--size-fluid-6);
}
.gap-medium {
	gap: var(--size-fluid-4);
}
.gap-small {
	gap: var(--size-fluid-1);
}
.gap-tiny {
	gap: var(--size-2);
}
.align-start {
	align-items: start;
}
.align-center {
	align-items: center;
}
.align-end {
	align-items: end;
}
.align-self-start {
	align-self: start;
}
.align-self-center {
	align-self: center;
}
.align-self-end {
	align-self: end;
}
.aspect-landscape{
	aspect-ratio: var(--aspect-landscape);
}
.aspect-widescreen{
	aspect-ratio: var(--aspect-widescreen);
}
.aspect-portrait{
	aspect-ratio: var(--aspect-portrait);
}
.aspect-box{
	aspect-ratio: var(--aspect-box);
}
.justify-start {
	justify-content: start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: end;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}
.padding-large {
	padding: var(--size-fluid-6);
}
.padding-medium {
	padding: var(--size-fluid-4);
}
.padding-small {
	padding: var(--size-fluid-1);
}
.padding-tiny {
	padding: var(--size-2);
}
.padding-block-large {
	padding-block: var(--size-fluid-6);
}
.padding-block-medium {
	padding-block: var(--size-fluid-4);
}
.padding-block-small {
	padding-block: var(--size-fluid-1);
}
.padding-block-tiny {
	padding-block: var(--size-2);
}
.padding-inline-large {
	padding-inline: var(--size-fluid-6);
}
.padding-inline-medium {
	padding-inline: var(--size-fluid-4);
}
.padding-inline-small {
	padding-inline: var(--size-fluid-1);
}
.padding-inline-tiny {
	padding-inline: var(--size-2);
}
.padding-inline-start-large {
	padding-inline-start: var(--size-fluid-6);
}
.padding-inline-start-medium {
	padding-inline-start: var(--size-fluid-4);
}
.padding-inline-start-small {
	padding-inline-start: var(--size-fluid-1);
}
.padding-inline-start-tiny {
	padding-inline-start: var(--size-2);
}
.padding-inline-end-large {
	padding-inline-end: var(--size-fluid-6);
}
.padding-inline-end-medium {
	padding-inline-end: var(--size-fluid-4);
}
.padding-inline-end-small {
	padding-inline-end: var(--size-fluid-1);
}
.padding-inline-end-tiny {
	padding-inline-end: var(--size-2);
}
.padding-block-start-large {
	padding-block-start: var(--size-fluid-6);
}
.padding-block-start-medium {
	padding-block-start: var(--size-fluid-4);
}
.padding-block-start-small {
	padding-block-start: var(--size-fluid-1);
}
.padding-block-start-tiny {
	padding-block-start: var(--size-2);
}
.padding-block-end-large {
	padding-block-end: var(--size-fluid-6);
}
.padding-block-end-medium {
	padding-block-end: var(--size-fluid-4);
}
.padding-block-end-small {
	padding-block-end: var(--size-fluid-1);
}
.padding-block-end-tiny {
	padding-block-end: var(--size-2);
}
.text-start {
	text-align: start;
}
.text-centered {
	text-align: center;
}
.text-end {
	text-align: end;
}
/* purgecss start ignore */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
}
body {
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: auto;
}
main {
	min-height: 100vh;
}
img,
picture,
video,
iframe,
figure,
canvas {
	width: 100%;
	height: auto;
	object-fit: cover;
}
input,
button,
textarea,
select {
	font: inherit;
	background-color: transparent;
	border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
a {
	color: inherit;
	width: max-content;
}
footer {
	position: sticky;
	top: 100vh;
}
/* purgecss end ignore */
html {
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-6);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.5;
}
p {
  font-size: var(--font-size-3);
}
a {
  font-size: var(--font-size-3);
}
time {
  font-size: var(--font-size-3);
}
button {
  font-size: var(--font-size-3);
}
button:hover {
  color: var(--blue-8);
}
address {
  font-size: var(--font-size-3);
}
li {
  font-size: var(--font-size-3);
}
blockquote {
  font-size: var(--font-size-4);
}
dl {
  font-size: var(--font-size-3);
}
th {
  font-size: var(--font-size-3);
}
td {
  font-size: var(--font-size-3);
}
body {
	background-color: var(--surface-1);
	color: var(--text-1);
}
a {
	text-decoration-thickness: 0.1em;
}
button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-2);
}
svg {
	pointer-events: none;
}
figure {
    position: relative;
    display: grid;
    height: 100%;
}
figcaption {
    position: absolute;
    background-color: black;
    color: var(--surface-2);
    right: 0;
    top: 0;
    padding-inline: 0.2rem;
    z-index: 3;
    font-size: 0.8rem;
}
input {
    padding: var(--size-2);
    border: solid .1em var(--brand);
}
/* purgecss start ignore */
.fl-grid-extrem {
	display: grid;
	grid-template-columns: 1fr
}
.fl-grid-extrem > * {
		aspect-ratio: inherit;
		display: grid;
		grid-template-columns: .5fr 1fr;
		gap: var(--size-fluid-3);
		place-items: center start;
	}
.fl-grid-large {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
}
.fl-grid-medium {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), 1fr));
}
.fl-grid-small {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}
/* purgecss end ignore */
.fl-content {
	--width: 85vw;
	width: min(var(--width), 100rem);
	margin-inline: auto;
}
.fl-content.large {
	width: min(var(--width), 80rem);
}
.fl-content.medium {
	width: min(var(--width), 60rem);
}
.fl-content.small {
	width: min(var(--width), 50rem);
}
.fl-content.tiny {
	width: min(var(--width), 30rem);
}
.fl-flex-row {
	display: flex;
}
.fl-flex-column {
	display: flex;
	flex-direction: column;
}
.fl-flex-column > a {
	width: 100%;
}
@media (max-width: 768px) {
		.fl-card {
			display: inline-block;
			grid-column: inherit !important;
			aspect-ratio: var(--aspect-widescreen);
			grid-template-columns: inherit;
		}

		.fl-card img { 
			aspect-ratio: var(--aspect-widescreen) !important;
		}
	}
.fl-card.featured {
	grid-column: 1 / 3;
}
.fl-card.long {
		aspect-ratio: var(--aspect-box);
	}
.fl-card.long img {
		aspect-ratio: var(--aspect-box);
	}
@media (max-width: 768px) {
		.fl-card.long {
			aspect-ratio: var(--aspect-widescreen);
		}
	}
.fl-person img {
		height: auto;
		aspect-ratio: var(--aspect-box) !important;
	}
.fl-navigation {
	box-shadow: var(--shadow-2);
	background-color: var(--surface-1);
	position: sticky;
	top: 0;
	z-index: 10;
}
.fl-language {
	margin-inline-start: auto;
}
.fl-menu {
	display: flex;
	align-items: center
}
.fl-menu a {
		text-decoration: none;
		text-decoration-thickness: .1em;
	}
.fl-menu :hover:where(button, a) {
		color: var(--brand);
		text-decoration: underline;
	}
.fl-menu > button {
		display: none;
		margin-inline-start: auto;
		padding-inline: var(--size-2);
	}
@media (max-width: 1440px) {
		.fl-menu {
			display: grid;
			gap: 1rem;
			grid-template-columns: 1fr auto;
			place-items: center start;
		}

		.fl-menu > button {
			display: flex;
		}
	}
.fl-menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	gap: 2rem
}
.fl-menu ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
@media (max-width: 1440px) {
		.fl-menu ul {
			margin-top: var(--size-4);
			gap: unset;
			grid-column: 1 / 3;
			flex-direction: column;
			display: none;
			border-block-start: solid thin rgb(221, 221, 221);
		}

		.fl-menu ul li {
			padding-block: var(--size-3);
			width: 100%;
			flex-direction: column;
			border-block-end: solid thin rgb(221, 221, 221);
		}

		.fl-menu ul li :where(a, button) {
			width: 100%;
			height: 100%;
		}

		.fl-menu ul button {
			justify-content: space-between !important;
		}

		.fl-menu ul svg {
			width: 1rem;
		}

		.fl-menu ul .fl-language {
			margin-block-start: var(--size-3);
			padding-block: var(--size-3);
		}
	}
.fl-menu.submenu {
	flex-direction: column;
	align-items: start;
	left: 0;
	gap: var(--size-fluid-2);
	transform: translateY(70%);
	position: absolute;
	background-color: var(--surface-2);
	padding: var(--size-fluid-1);
	box-shadow: var(--shadow-2);
	border-radius: var(--size-2);
	width: max-content
}
@media (max-width: 1440px) {
		.fl-menu.submenu {
			padding-inline-start: var(--size-3);
			border: none;
			margin: inherit;
			gap: 0;
			padding: inherit;
			width: inherit;
			transform: inherit;
			background-color: inherit;
			box-shadow: inherit;
			display: flex;
			position: inherit;
		}
	}
.fl-logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--size-2);
	flex-shrink: 0;
	font-size: var(--font-size-4)
}
.fl-logo img {
		width: auto;
		max-height: var(--size-fluid-2);
	}
.fl-logo svg {
		fill: var(--brand);
	}
.fl-split {
	display: grid;
	grid-template-columns: 1fr .9fr
}
@media (max-width: 1024px) {
		.fl-split {
			grid-template-columns: 1fr !important;
			gap: var(--size-4);
		}

		.fl-split >:first-child {
			order: 0 !important; 
		}

		.fl-split img {
			aspect-ratio: var(--aspect-widescreen) !important;
		}
	}
.fl-author {
	display: flex;
	align-items: center;
	gap: var(--size-3)
}
.fl-author img {
		width: var(--size-6);
		height: var(--size-6);
		object-fit: cover;
		border-radius: 50%;
	}
/* purgecss start ignore */
.fl-richtext {
	display: flex;
	flex-direction: column;
	align-items: start
}
.fl-richtext p {
		text-align: justify;
	}
.fl-richtext img {
		margin-block: var(--size-4);
		aspect-ratio: var(--aspect-widescreen);
	}
.fl-richtext ul {
		padding: revert;
	}
.fl-richtext div {
		aspect-ratio: 3 / 2;
		width: 100%;
		height: 100%;
	}
.fl-richtext .richtext-image.left {
		aspect-ratio: inherit;
		max-width: 100%;
		width: unset;
	}
.fl-richtext .richtext-image.centered {
		aspect-ratio: inherit;
		align-self: center;
		max-width: 100%;
		width: unset;
	}
@media (max-width: 1024px) {
		.fl-richtext p {
			text-align: unset;
		}
	  }
/* purgecss end ignore */
.fl-hero {
  display: grid;
  grid-template: "container";
  place-items: center start
}
.fl-hero > * {
    grid-area: container;
  }
.fl-hero :where(picture, img, figure) {
    height: 700px;
  }
.fl-hero .fl-content {
    z-index: 1;
  }
@media (max-width: 768px) {
    .fl-hero :where(picture, img, figure) {
      height: 100%;
    }

    .fl-hero .fl-content {
        width: inherit;
    }
  }
.fl-hero-content {
  width: min(100%, 70rem)
}
.fl-hero-content h1 {
    font-size: var(--font-size-7);
  }
.fl-hero-content p {
    font-size: var(--font-size-4);
  }
@media (max-width: 768px) {
.fl-hero-content {
    padding-block-start: var(--size-fluid-7);
    padding-block-end: var(--size-fluid-5)
}

    .fl-hero-content h1 {
      font-size: var(--font-size-6);
    }

    .fl-hero-content p {
      font-size: var(--font-size-3);
    }
  }
.fl-blockquote {
		text-align: center;
	}
.fl-blockquote p {
		quotes: "“" "“" "“" "“";
		font-size: var(--font-size-5);
	}
.fl-blockquote p::before {
		content: open-quote;
	}
.fl-blockquote p::after {
		content: close-quote;
	}
.fl-media > :where(img,video,iframe) {
		aspect-ratio: var(--aspect-widescreen);
	}
.fl-banner {
  display: grid;
  grid-template: "container";
  place-items: center center
}
.fl-banner > * {
    grid-area: container;
  }
.fl-banner :where(picture, img, figure) {
    height: 500px;
  }
.fl-banner > :first-child {
    z-index: 1;
  }
@media (max-width: 768px) {
    .fl-banner {
      place-items: inherit;
    }
    .fl-banner :where(picture, img, figure) {
      height: 100%;
    }
  }
.fl-footer-content {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	gap: var(--size-fluid-5);
}
.fl-footer-content div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center
	}
.fl-footer-content div div {
			text-align: start;
			align-items: start;
		}
.fl-footer-nav ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		gap: var(--size-4);
	}
.fl-skip {
	left: 50%;
  	position: absolute;
  	transform: translateY(-200%);
	transition: transform 0.3s;
	background-color: var(--brand);
	color: var(--surface-1);
	z-index: 20;
	padding: 1rem;
}
.fl-skip:focus {
	transform: translateY(0%);
}
.fl-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--size-5);
    list-style: none;
    width: 100%;
}
.info {
    color: var(--surface-2);
    font-size: 1rem;
}
.fl-info {
    display: flex;
    flex-direction: row;
    margin-inline-start: auto;
    gap: var(--size-4)
}
@media (max-width: 1024px) {
		.fl-info {
            width: 100%;
            margin-block-start: 2rem;
			flex-direction: column;
		}

        .fl-info :where(form, input) {
            width: 100%;
        }
	}