/* purgecss start ignore */
:where(html) {
	--size-1: 0.1rem;
	--size-2: 0.3rem;
	--size-3: 0.5rem;
	--size-4: 1rem;
	--size-5: 2rem;
	--size-6: 3rem;
	--size-7: 5rem;
	--size-8: 7rem;
	--size-9: 10rem;

	--size-fluid-1: clamp(.5rem, 1vw, 1rem);
	--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
	--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
	--size-fluid-4: clamp(2rem, 4vw, 3rem);
	--size-fluid-5: clamp(4rem, 5vw, 5rem);
	--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
	--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
	--size-fluid-8: clamp(10rem, 20vw, 15rem);
	--size-fluid-9: clamp(15rem, 30vw, 20rem);
}
:where(html) {
	--font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
	--font-serif: ui-serif,serif;
	--font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;

	--font-weight-1: 100;
	--font-weight-2: 200;
	--font-weight-3: 300;
	--font-weight-4: 400;
	--font-weight-5: 500;
	--font-weight-6: 600;
	--font-weight-7: 700;
	--font-weight-8: 800;
	--font-weight-9: 900;

	--font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
	--font-size-2: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
	--font-size-3: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	--font-size-4: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
	--font-size-5: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
	--font-size-6: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
	--font-size-7: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
	--font-size-8: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);

	--font-lineheight-0: 1.5;

	--font-size-fluid-0: clamp(1.5rem, 4vw, 1.7rem);
}
:where(html) {
	--shadow-color: 220 3% 15%;
	--shadow-strength: 1%;
	--shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--shadow-2: 
	  0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
	--shadow-3: 
	  0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-4: 
	  0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
	--shadow-5: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--shadow-6: 
	  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	  0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	  0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	  0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	  0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
	  0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
	--inner-shadow-0: inset 0 0 0 1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-1: inset 0 1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-2: inset 0 1px 4px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-3: inset 0 2px 8px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
	--inner-shadow-4: inset 0 2px 14px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
}
:where(html) {
	--aspect-box: 1;
	--aspect-landscape: 4/3;
	--aspect-portrait: 3/4;
	--aspect-widescreen: 16/9;
}
/* purgecss end ignore */
:root {
	--brand: black;
	--text-1: black;
	--text-2: gray;
	--surface-1: lightgray;
	--surface-2: lightgray;
	--surface-3: lightgray;
}
/* purgecss start ignore */
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	overflow: auto;
}
main {
	min-height: 100vh;
}
img,
picture,
video,
canvas {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
input,
button,
textarea,
select {
	font: inherit;
	background-color: transparent;
	border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
a {
	color: inherit;
}
footer {
	position: sticky;
	top: 100vh;
}
/* purgecss end ignore */
h1{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}
h2{
	font-size: var(--font-size-6);
	font-family: Segoe UI;
}
h3{
	font-size: var(--font-size-5);
	font-family: Segoe UI;
}
h4{
	font-size: var(--font-size-4);
	font-family: Segoe UI;
}
h5{
	font-size: var(--font-size-3);
	font-family: Segoe UI;
}
p{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
a{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
a:hover {
	color: var(--blue-8);
}
time{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
button{
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
button:hover {
	color: var(--blue-8);
}
address {
	font-size: var(--font-size-3);
	font-family: Helvetica;
}
li {
	font-size: var(--font-size-3);
}
blockquote {
	font-size: var(--font-size-4);
}
dl {
	font-size: var(--font-size-3);
}
th {
	font-size: var(--font-size-3);
}
td {
	font-size: var(--font-size-3);
}
body {
	background-color: var(--surface-1);
	color: var(--text-1);
}
a:hover {
	color: var(--brand);
}
.fl-grid {
	display: grid;
	gap: var(--size-fluid-3);
	justify-content: center;
}
.fl-grid.cards {
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 22rem), max-content));
}
.fl-grid.columns {
	grid-template-columns: 1fr 1fr;
}
.fl-grid.list {
	grid-template-columns: 1fr;
}
.fl-content {
	margin: 0 auto 0 auto
}
@media (max-width: 1440px) {
		.fl-content {
			padding: 0 var(--size-fluid-1) 0 var(--size-fluid-1);
			margin: inherit;
		}
	}
.fl-content.large {
	max-width: 1440px;
}
.fl-content.medium {
	max-width: 1024px;
}
.fl-content.small {
	max-width: 768px;
}
.fl-card {
	transition: box-shadow 0.3s ease;
	aspect-ratio: var(--aspect-landscape)
}
.fl-card > :not(picture, img) {
		padding: 0 var(--size-2);
	}
.fl-card header {
		margin-bottom: var(--size-4);
	}
.fl-card.featured {
	grid-column: 1 / 3;
	aspect-ratio: var(--aspect-widescreen);
}
.fl-card.long {
	aspect-ratio: var(--aspect-box);
}
.fl-card.row {
	aspect-ratio: inherit;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--size-fluid-3)
}
.fl-card.row img {
		aspect-ratio: var(--aspect-widescreen);
	}
.fl-card.row > div {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}
.fl-navigation {
	padding: var(--size-fluid-1);
	box-shadow: var(--shadow-2);
	background-color: var(--surface-1);
	position: sticky;
	top: 0;
	z-index: 10;
}
.fl-language {
	margin-left: auto;
}
.fl-menu ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--size-fluid-4)
}
.fl-menu ul li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
.fl-menu ul a {
		text-decoration: none;
	}
.fl-menu ul :hover:where(button, a) {
		color: var(--brand);
		text-decoration: underline;
	}
.fl-menu.submenu {
	flex-direction: column;
	align-items: start;
	left: 0;
	gap: var(--size-fluid-2);
	transform: translateY(70%);
	position: absolute;
	background-color: var(--surface-2);
	padding: var(--size-fluid-1);
	box-shadow: var(--shadow-2);
	border-radius: var(--size-2);
}
.fl-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--size-2)
}
.fl-logo svg {
		fill: var(--brand);
	}
.fl-split {
	display: grid;
	grid-template-columns: 1fr 0.7fr;
	gap: var(--size-fluid-5);
	transition: box-shadow 0.3s ease
}
.fl-split img {
		aspect-ratio: 16 / 9;
	}
@media (max-width: 1024px) {
		.fl-split {
			grid-template-columns: 1fr;
			gap: var(--size-fluid-2);
		}

		.fl-split .fl-split-media img{
			aspect-ratio: 6/ 3;
		}
	}
.fl-split-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fl-author {
	display: flex;
	align-items: center;
	gap: var(--size-3)
}
.fl-author img {
		width: var(--size-6);
		height: var(--size-6);
		object-fit: cover;
		border-radius: 50%;
	}
.fl-richtext img {
		aspect-ratio: 3 / 2;
		width: 100%;
	}
.fl-richtext ul {
		padding: revert;
	}
.fl-richtext iframe {
		aspect-ratio: 3 / 2;
		width: 100%;
		height: 100%;
	}
.fl-hero {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
.fl-hero .fl-hero-content {
		position: absolute;
		color: var(--text-1);
		max-width: 1440px;
		margin: 0 auto 0 auto
	}
.fl-hero .fl-hero-content p {
			font-size: var(--font-size-6);
		}
.fl-hero.large {
	height: 80vh;
}
.fl-hero.medium {
	height: 50vh;
}
.fl-hero.small {
	height: 30vh;
}
table {
width: 100%;
margin: 20px auto;
table-layout: auto;
overflow-x: auto;
}
table,
td,
th {
	border-collapse: collapse;
}
th,
td {
	padding: 10px;
	border: solid 1px;
	text-align: center;
}
.fl-article > img {
	aspect-ratio: var(--aspect-widescreen);
}
.fl-article-header div {
	display: flex;
	align-items: center;
	gap: var(--size-fluid-3);
}
.hidden {
	display: none !important;
}
.text-start {
	text-align: start;
}
.text-centered {
	text-align: center;
}
.text-end {
	text-align: end;
}
.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fl-accent {
	background-color: var(--brand);
	color: var(--surface-2)
}
.fl-accent a:hover {
		color: var(--text-1);
	}
.fl-accent:nth-child(3n) {
	background-color: inherit;
	color: inherit
}
.fl-accent:nth-child(3n) a:hover {
		color: var(--brand);
	}
.margin {
	margin: var(--size-fluid-4);
}
.margin-top {
	margin-top: var(--size-fluid-4);
}
.margin-bottom {
	margin-bottom: var(--size-fluid-4);
}
.margin-left {
	margin-left: var(--size-fluid-4);
}
.margin-right {
	margin-right: var(--size-fluid-4);
}
.padding {
	padding: var(--size-fluid-4);
}
.padding-top {
	padding-top: var(--size-fluid-4);
}
.padding-bottom {
	padding-bottom: var(--size-fluid-4);
}
.padding-left {
	padding-left: var(--size-fluid-4);
}
.padding-right {
	padding-right: var(--size-fluid-4);
}