{% load wagtailcore_tags i18n %}
{% wagtail_site as current_site%}
{% block content %}
<footer class="fl-brand margin-block-start-medium padding-block-medium">
	<div class="fl-content large fl-flex-column gap-medium">
		<div class="fl-footer-content">
			{% if settings.site_settings.SiteSettings.sponsor.all|length != 0%}
			<div class="fl-flex row">
				{% for element in settings.site_settings.SiteSettings.sponsor.all %}
				{% load wagtailimages_tags %}
				{% image element.logo original as sp_image %}
				<img src="{{sp_image.url}}" alt="">
				{% endfor %}
			</div>
			{% endif %}

			{% if settings.site_settings.SiteSettings.street or settings.site_settings.SiteSettings.email %}
			<div>
				<div>
				<h3>Kontakt</h3>
				<address>
					{% if settings.site_settings.SiteSettings.street%}
					{{settings.site_settings.SiteSettings.street}}
					{% endif %}

					{% if settings.site_settings.SiteSettings.housenumber%}
					{{settings.site_settings.SiteSettings.housenumber}}
					{% endif %}

					<br>

					{% if settings.site_settings.SiteSettings.city%}
					{{settings.site_settings.SiteSettings.city}}
					{% endif %}

					{% if settings.site_settings.SiteSettings.plz%}
					{{settings.site_settings.SiteSettings.plz}}
					{% endif %}

					<br>

					{% if settings.site_settings.SiteSettings.email%}
					<a
						href="mailto:{{settings.site_settings.SiteSettings.email}}">{{settings.site_settings.SiteSettings.email}}</a>
					{% endif %}
				</address>
			</div>
			</div>
			{% endif %}

			{% if settings.site_settings.SiteSettings.social.all|length != 0%}
			<div>
				<div>
					<h3>Social Media</h3>
					<ul>
						{% for element in settings.site_settings.SiteSettings.social.all%}
						<li>
							<a href="element.url">{{element.title}}</a>
						</li>
						{% endfor%}
					</ul>
				</div>
			</div>
			{% endif %}

		</div>
		<nav class="fl-footer-nav">
			<ul>
				<li>
					<a href="{{settings.site_settings.SiteSettings.contact.localized.url}}">Kontakt</a>
				</li>
				<li>
					<a href="{{settings.site_settings.SiteSettings.impressum.localized.url}}">Impressum</a>
				</li>
				<li>
					<a
						href="{{settings.site_settings.SiteSettings.data_protection.localized.url}}">Datenschutzerklärung</a>
				</li>
				<li style="margin-inline-start: auto">
					<a href="{{settings.site_settings.SiteSettings.intern_website.url}}" style="margin-inline-start: auto;">Intern</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
{% endblock content %}