{% block content %}
<footer class="fl-accent margin-top">
	<div class="fl-content large fl-grid cards padding-top padding-bottom">
		<div>
			<h3>Kontakt</h3>
			<address>
				{{settings.site_settings.Footer.street}}
				{{settings.site_settings.Footer.housenumber}}<br>
				{{settings.site_settings.Footer.city}}
				{{settings.site_settings.Footer.plz}}<br>
				<a href="mailto:{{settings.site_settings.Footer.email}}">{{settings.site_settings.Footer.email}}</a>
			</address>
		</div>
		<ul>
			<li>
				<h3>Service</h3>
			</li>
			<li>
				<a href="">Kontakt</a>
			</li>
			<li>
				<a href="">Impressum</a>
			</li>
			<li>
				<a href="">Datenschutzerklärung</a>
			</li>
		</ul>
		<ul>
			<li>
				<h3>Social Media</h3>
			</li>
			<li><a href="{{settings.site_settings.Footer.facebook}}">Facebook</a></li>
			<li><a href="{{settings.site_settings.Footer.instagram}}">Instagram</a></li>
			<li><a href="{{settings.site_settings.Footer.youtube}}">Youtube</a></li>
			<li><a href="{{settings.site_settings.Footer.thingiverse}}">Thingiverse</a></li>
		</ul>
	</div>
</footer>
{% endblock content %}