{% block content %}
    <section class="fl-hero large margin"
             data-margin="block-end"
             data-margin-size="medium">
        {% if value.title or value.text %}
            <div class="fl-content">
                <div class="fl-hero-content fl-flex fl-glass gap padding"
                     data-gap="small"
                     data-padding="all"
                     data-padding-size="medium"
                     data-direction="column">
                    {% if value.title %}<h1>{{ value.title }}</h1>{% endif %}
                    {% if value.text %}
                        <p>
                            {{ value.text }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if value.video %}
            <video src="{{ value.video.url }}" muted autoplay loop>
            </video>
        {% elif value.image %}
            {% load wagtailimages_tags %}
            <figure>
                <picture>
                    {% image value.image fill-1920x700 format-webp webpquality-80 as image_1920 %}
                    {% image value.image fill-1440x700 format-webp webpquality-60 as image_1440 %}
                    {% image value.image fill-1024x700 format-webp webpquality-60 as image_1024 %}
                    {% image value.image fill-768x576 format-webp webpquality-60 as image_768 %}
                    {% image value.image fill-260x200 format-webp webpquality-60 as image_480 %}
                    <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w, {{ image_1024.url }} 1024w, {{ image_1440.url }} 1440w, {{ image_1920.url }} 1920w,"
                            sizes=" (min-width: 1800px) 1920px, (min-width: 1440px) 1440px, (min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 480px) 480px"
                            type="image/webp">
                    {% image value.image fill-1920x700 format-jpeg as image_1920 %}
                    {% image value.image fill-1440x700 format-jpeg as image_1440 %}
                    {% image value.image fill-1024x700 format-jpeg as image_1024 %}
                    {% image value.image fill-768x576 format-jpeg as image_768 %}
                    {% image value.image fill-260x200 format-jpeg as image_480 %}
                    <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w, {{ image_1024.url }} 1024w, {{ image_1440.url }} 1440w, {{ image_1920.url }} 1920w,"
                            sizes=" (min-width: 1800px) 1920px, (min-width: 1440px) 1440px, (min-width: 1024px) 1024px, (min-width: 768px) 768px, (min-width: 480px) 480px"
                            type="image/jpg">
                    <img src="{{ image_480.url }}"
                         alt="{{ image_480.alt }}"
                         decoding="async"
                         loading="eager"
                         rel="preload">
                </picture>
                <figcaption>
                    {{ value.image.credit }}
                </figcaption>
            </figure>
        {% endif %}
    </section>
{% endblock content %}
