{% load wagtailcore_tags i18n %}
{% wagtail_site as current_site%}
{% block content %}
<div class="fl-navigation padding-small">
	<nav class="fl-content fl-menu gap-medium" aria-label="Main Menu">
		<a class="fl-logo" href="{{ current_site.root_url }}/{{LANGUAGE_CODE}}">
			{% if settings.site_settings.SiteSettings.logo %}
				{% load wagtailimages_tags %}
				{% image settings.site_settings.SiteSettings.logo original%}
			{% endif %}
			{% if settings.site_settings.SiteSettings.logo_title%}
				{{settings.site_settings.SiteSettings.logo_title}}
			{% endif %}
		</a>
		<button id="menu-button" class="fl-button">Menu</button>
		<ul>
			{% for element in menuitems %}
			<li>
				{% if element.content_type.model == "folderpage" or element.content_type.model == "qufolderpage"%}
				<button>
					{{element.localized}}
					<svg width="0.8rem" viewBox="0 0 102 60">
						<path d="M9 0 0 9l42 42 9 9 9-9 42-42-8-9-43 42Z" />
					</svg>
				</button>
				{% if element.get_children.count != 0 %}
				<ul class="fl-menu gap-medium submenu hidden">
					{% for subelement in element.get_children.specific%}
					<li><a href="{{subelement.localized.url}}">{{subelement.localized}}</a></li>
					{% endfor%}
				</ul>
				{% endif %}
				{% else %}
				<a href="{{element.localized.url}}">{{element.localized}}</a>
				{% endif %}
			</li>
			{% endfor %}
			{% include "molecules/language.html"%}
		</ul>
	</nav>
</div>
{% endblock content %}