{% load navigation_tags %}
{% load wagtailcore_tags i18n %}
{% wagtail_site as current_site%}
{% block content %}
<div class="fl-navigation">
	<nav class="fl-content large fl-menu" aria-label="Main Menu">
		<ul>
			<li>
				<a class="fl-logo" href="{{ current_site.root_url }}">
					<svg width="3rem" height="3rem" viewBox="0 0 115 130">
						<defs>
							<linearGradient id="a">
								<stop offset="0" stop-color="#048dd6" />
								<stop offset="1" stop-color="#0476d6" />
							</linearGradient>
							<linearGradient xlink:href="#a" id="b" x1="16.8" x2="396.2" y1="26" y2="460"
								gradientUnits="userSpaceOnUse" />
						</defs>
						<path fill="url(#b)"
							d="m217 0-71 41 30 19c8-2 25-5 43-5 53 2 88 30 88 66 1 32-37 64-91 65-53 0-102-27-102-63l1-17-40-24-71 41v245l67 37v-46c-5-6-10-13-14-21-27-46-24-98 7-116s78 4 106 50c27 46 23 98-8 116l-7 4v59l61 34v1l213-118v-83l-37 22c-2 7-8 25-12 32-26 47-73 68-105 50-31-17-33-70-7-117 26-46 72-70 103-52 3 1 13 10 14 11l44-23v-85L216 247l213-124L217 0z"
							transform="scale(.26458)" />
					</svg>
					{{ current_site.site_name }}
				</a>
			</li>
			{% for element in menuitems %}
			<li>
				{% if element.content_type.model == "folderpage"%}
				<button>{{element.localized}}</button>
				<ul class="fl-menu submenu hidden">
					{% for subelement in element.get_children.specific%}
					<li><a href="{{subelement.url}}">{{subelement.localized}}</a></li>
					{% endfor%}
				</ul>
				{% else %}
				<a href="{{element.url}}">{{element.localized}}</a>
				{% endif %}
			</li>
			{% endfor %}
			{% include "molecules/language.html"%}
		</ul>
	</nav>
</div>
{% endblock content %}