{% block content %}
<div class="fl-accent margin-bottom">
<section class="fl-content large fl-split padding-top padding-bottom">
	<div class="fl-split-body">
		{% if value.title %}
			<h2>{{value.title}}</h2>
		{% endif %}

		{% if value.text %}
			<p>{{value.text}}</p>
		{% endif %}

		{% if value.link.get_url != None %}
			<a href="{{value.link.get_url}}">Erfahre Mehr</a>
		{% endif %}
	</div>
	<div class="fl-split-media">
		{% if value.video %}
			<video src="{{ value.video.url }}" controls></video>
		{% elif value.image %}
		{% load wagtailimages_tags %}
			{% image value.image fill-1024x768 format-webp as image_1024 %}
			{% image value.image fill-768x576 format-webp as image_768 %}
			{% image value.image fill-480x360 format-webp as image_480 %}
			<img decoding="async" loading="lazy"
				alt="{{image_480.alt}}" 
				src="{{image_480.url}}" 
				srcset="
				{{image_480.url}} 480w,
				{{image_768.url}} 768w,
				{{image_1024.url}} 1024w,
				" 
				sizes="
				(min-width: 1024px) 1024px,
				(min-width: 768px) 768px,
				(min-width: 480px) 480px
				">
		{% endif %}
	</div>
</section>
</div>
{% endblock content %}