{% block content %}
<div class="fl-accent margin-bottom">
<section class="fl-content large fl-split padding-top padding-bottom">
	<div class="fl-split-body">
		{% if value.title %}
			<h2>{{value.title}}</h2>
		{% endif %}

		{% if value.text %}
			<p>{{value.text}}</p>
		{% endif %}

		{% if value.link.get_url != None %}
			<a href="{{value.link.get_url}}">Erfahre Mehr</a>
		{% endif %}
	</div>
	<div class="fl-split-media">
		{% if value.video %}
			<video src="{{ value.video.url }}" controls></video>
		{% elif value.image %}
		{% load wagtailimages_tags %}
		<picture>
			{% image value.image fill-768x576 format-webp webpquality-60 as image_768 %}
			{% image value.image fill-480x360 format-webp webpquality-60 as image_480 %}
			<source
			srcset="
			{{image_768.url}} 768w,
			{{image_480.url}} 480w,"
			sizes="
			(max-width: 520px) 480px,
			(max-width: 768px) 768px,
			(min-width: 1024px) 480px"
			type="image/webp"
			>
			{% image value.image fill-768x576 format-jpeg as image_768 %}
			{% image value.image fill-480x360 format-jpeg as image_480 %}
			<source
			srcset="
			{{image_768.url}} 768w,
			{{image_480.url}} 480w,"
			sizes="
			(max-width: 520px) 480px,
			(max-width: 768px) 768px,
			(min-width: 1024px) 480px"
			type="image/jpg"
			>
			<img src="{{image_480.url}}" alt="image_480.alt" decoding="async" loading="eager" rel="preload">
		</picture>
		{% endif %}
	</div>
</section>
</div>
{% endblock content %}