.events {
  display: grid;
  gap: var(--size-fluid-3);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  border: none;
}

.events time {
  font-size: var(--font-size-1);
}

.events section {
  position: relative;
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--surface-3);
  box-shadow: var(--shadow-3);
  font-size: var(--font-size-3);
  padding: var(--size-fluid-1);
}

.events a {
  text-decoration: none;
}

.events a::before {
  content: "";
  inset: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: var(--radius-3);
  background: radial-gradient(
    1000px circle at var(--mouse-x) var(--mouse-y),
    var(--hover-1),
    transparent 40%
  );
  z-index: 5;
}

.events section:hover {
  transition: border-color 0.5s ease-in;
  border-color: var(--surface-4);
}

.events header {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-block-end: var(--size-2);
}

.events header h3 {
  font-size: var(--font-size-4);
}

.events section {
  background: radial-gradient(circle at -8000px -200px, var(--color), transparent);
}

.events section[data-type="student"] {
  --color: var(--red-7);
}

.events section {
  --color: var(--purple-7);
}

.events section {
  --color: var(--blue-7);
}

.events section {
  --color: var(--orange-7);
}

.events section {
  --color: var(--green-7);
}