<div class="content" data-width="large" data-margin-block-end="large">
    <div id="events" class="events">
        {% for element in events %}
            <section data-type="{{element.category}}">
                <time>{{element.day}}. {{element.month}}</time>
                <div>
                    <header>
                        {% if element.link %}
                            <a href="{{element.link}}"><h3>{{element.title}}</h3></a>
                        {% else %}
                            <h3>{{element.title}}</h3>
                        {% endif %}
                        <time>{{element.start}} bis {{element.end}}</time>
                    </header>
                    <p>{{element.description}}</p>
                </div>
            </section>
        {% endfor %}
    </div>
</div>
