<div data-type="{{element.category}}">
    <details class="desktop">
        <summary>
            <span class="title"> {{element.title}}</span>
        </summary>
        <div class="description">
            <header>
                <div>
                    <h3>{{element.title}}</h3>
                    <button class="close" data-close="">
                        <svg viewBox="0 0 24 24" width="24" height="24">
                            <path d="m12 10.93 5.719-5.72c.146-.146.339-.219.531-.219.404 0 .75.324.75.749 0 .193-.073.385-.219.532l-5.72 5.719 5.719 5.719c.147.147.22.339.22.531 0 .427-.349.75-.75.75-.192 0-.385-.073-.531-.219l-5.719-5.719-5.719 5.719c-.146.146-.339.219-.531.219-.401 0-.75-.323-.75-.75 0-.192.073-.384.22-.531l5.719-5.719-5.72-5.719c-.146-.147-.219-.339-.219-.532 0-.425.346-.749.75-.749.192 0 .385.073.531.219z"/>
                        </svg>
                    </button>
                </div>
                <div>{{element.timeStart}} - {{element.timeEnd}}</div>
            </header>
            <p>{{element.description}}</p>
        </div>
    </details>
    <div class="mobile">
        <section>
            <time>{{key}}. {{data.month_string}}</time>
            <div>
                <header>
                    {% if element.link %}
                        <a href="{{element.link}}"><h3>{{element.title}}</h3></a>
                    {% else %}
                        <h3>{{element.title}}</h3>
                    {% endif %}
                    <time>{{element.timeStart}} bis {{element.timeEnd}}</time>
                </header>
                <p>{{element.description}}</p>
            </div>
        </section>
    </div>
</div>