{% extends "base.html" %}
{% load wagtailcore_tags filter_tag %}
{% block content %}
    <main id="main">
        {{page.event}}
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
        <form action="{% pageurl page %}"
              method="post"
              class="content"
              data-width="small">
            <h1>{{ page.title }}</h1>
            {% csrf_token %}
            <input type="text" name="this_test" value="this_is_a_test">
            {% for field in form.visible_fields %}
                {% if field.value in params %}
                    <input class="hidden"
                           value="{{ params|lookup:field.value }}"
                           name="{{ field.name }}"
                           id="{{ field.id_for_label }}"/>
                {% else %}
                    <div>{{ field.label_tag }} {{ field }}</div>
                {% endif %}
            {% endfor %}
            <input type="submit" />
            <div class="captcha">
                This site is protected by reCAPTCHA and the Google
                <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                <a href="https://policies.google.com/terms">Terms of Service</a> apply.
            </div>
        </form>
    </main>
{% endblock %}
