.article header {
  margin-block: var(--size-fluid-1);
  margin-block-end: var(--size-fluid-2);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.article img {
  border-radius: var(--radius-3);
  aspect-ratio: var(--ratio-widescreen);
}

.article h1 {
  font-size: var(--font-size-5);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--size-2);
}

.author div {
  display: flex;
  flex-direction: column;
}

.author div :first-child{
  font-weight: bold;
}

.author img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}