{% load wagtailimages_tags static %}

<section class="hero" data-margin-block-end="medium">
    {% if title or text %}
        <div data-style="glass">
            {% if title %}<h1>{{ title }}</h1>{% endif %}
            {% if text %}<p>{{ text }}</p>{% endif %}
        </div>
    {% endif %}

    {% if image %}
        {% component "picture" image=image caption=image.credit sizes="1920x1080 1080x720 720x480" breakpoints="1920 1080 720" %}
    {% endif %}

    {% if video %}
        {% include "hero/video.html" with video=video %}
    {% endif %}
</section>
