{% load static component_tags %}

<div class="device" data-title="{{title|upper}}" data-area="{{area|upper}}">
    {% if image %}
        {% component "picture" image=image caption=image.caption sizes="300x168" breakpoints="300" %}
    {% endif %}
    <div class="device--content">
        <span class="area">{{area}}</span>
        <h2>{{model}}</h2>
        <div class="manufacturer">{{manufacturer}}</div>
        {% if amount != "1" %}
            <div class="amount">Anzahl: {{amount}}</div>
        {% endif %}
    </div>
</div>
