<article class="person">
    {% load wagtailimages_tags %}
    <picture>
        {% image image fill-500x500 format-webp as image_768 %}
        {% image image fill-300x300 format-webp as image_480 %}
        <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w"
            sizes=" (min-width: 768px) 768px, (min-width: 480px) 480px"
            type="image/webp">
        {% image image fill-500x500 format-jpeg as image_768 %}
        {% image image fill-300x300 format-jpeg as image_480 %}
        <source srcset=" {{ image_480.url }} 480w, {{ image_768.url }} 768w"
            sizes=" (min-width: 768px) 768px, (min-width: 480px) 480px"
            type="image/jpg">
        <img src="{{ image_480.url }}"
            alt="{{ image.alt }}"
            decoding="async"
            loading="lazy">
    </picture>
    <div>
        <header>
            {% if role %}<p class="info">{{ role }}</p>{% endif %}
            {% if value.link %}
                <a href="{{ value.link }}">
                    <h4>{{ name }}</h4>
                </a>
            {% else %}
                <h4>{{ name }}</h4>
            {% endif %}
        </header>
        {% if responsibility %}<p>{{ responsibility }}</p>{% endif %}
    </div>
</article>