/* purgecss start ignore */
:where(html) {
  --size-1: 0.1rem;
  --size-2: 0.3rem;
  --size-3: 0.5rem;
  --size-4: 1rem;
  --size-5: 2rem;
  --size-6: 3rem;
  --size-7: 5rem;
  --size-8: 7rem;
  --size-9: 10rem;

  --size-fluid-1: clamp(0.8rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
}
:where(html) {
  --font-size-1: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --font-size-2: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --font-size-3: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --font-size-4: clamp(1.5rem, 1.21rem + 0.8vw, 1.78rem);
  --font-size-5: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --font-size-6: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --font-size-7: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --font-size-8: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}
:where(html) {
  --shadow: 0px 4px 8px rgba(66, 71, 76, 0.2), 0px 0px 1px rgba(66, 71, 76, 0.2);
}
:where(html) {
  --aspect-box: 1;
  --aspect-landscape: 4/3;
  --aspect-portrait: 3/4;
  --aspect-widescreen: 16/9;
}
/* purgecss end ignore */
/* purgecss start ignore */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
main {
  min-height: 100vh;
}
img,
video,
iframe,
figure,
canvas {
  width: 100%;
  height: auto;
  object-fit: cover;
}
input,
button,
textarea,
select {
  background-color: transparent;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.grecaptcha-badge {
  visibility: hidden;
}
ul {
  list-style: none;
}
/* purgecss end ignore */
body {
  font-family: "Inter var", sans-serif;
  font-size: var(--font-size-3);
  font-variant-numeric: tabular-nums;
  line-height: 1.7;
}
body :where(h1, h2, h3, h4) {
  font-family: "Manrope VF", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  font-variant-numeric: tabular-nums;
  scroll-margin-top: 300px;
  margin-block: var(--size-2);
}
h1 {
  font-size: var(--font-size-6);
}
h2 {
  font-size: var(--font-size-6);
}
h3 {
  font-size: var(--font-size-4);
}
h4 {
  font-size: var(--font-size-3);
}
body :where(input, button, textarea, select) {
  font-size: var(--font-size-3);
  font-family: "Inter var", sans-serif;
  font-variant-numeric: tabular-nums;
}
body {
  background-color: var(--surface-1);
  color: var(--text-1);
}
a {
  color: inherit;
  text-decoration-thickness: 0.1em;
  transition: color 200ms ease-in-out;
}
a:hover {
  color: var(--brand);
}
img,
video,
iframe,
canvas {
  border-radius: 0.7rem;
  --shadow-color: 0deg 0% 20%;
  filter: drop-shadow(0px 2px 8px hsl(var(--shadow-color) / 0.2))
    drop-shadow(0px 0px 2px hsl(var(--shadow-color) / 0.2));
  aspect-ratio: var(--aspect-widescreen);
}
footer {
  position: sticky;
  top: 100vh;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
}
svg {
	pointer-events: none;
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  color: var(--surface-2);
  right: 0;
  top: 0;
  padding-inline: 0.2rem;
  z-index: 3;
  background-color: var(--text-1);
  border-radius: 0 0.7rem 0 0.7rem;
  font-size: var(--font-size-1);
}
details {
  position: relative;
  border: solid var(--surface-2) 0.15rem;
  border-radius: 0.3rem;
  padding: var(--size-3);
  padding-inline: var(--size-4);
}
details summary {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] summary svg {
  transition: 0.4s transform ease;
  transform: rotate(-180deg);
}
details summary svg {
  transition: 0.4s transform ease;
  transform: rotate(0deg);
}
form {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1)
}
form p {
    display: flex;
    flex-direction: column;
  }
html :where(button, input, textarea, select) {
  border-radius: 0.3rem;
  color: var(--text-1);
}
html :where(input, textarea, select) {
  padding: var(--size-3);
  padding-inline: var(--size-4);
  border: solid var(--surface-2) 0.15rem;
}
.captcha {
  font-size: var(--font-size-2);
}
select {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='17px'%0Afill='black' viewBox='0 0 102 60' aria-hidden='true' focusable='false'%3E%3Cpath d='M9 0 0 9l42 42 9 9 9-9 42-42-8-9-43 42Z' /%3E%3C/svg%3E");
  background-position: calc(100% - 0.75rem) center;
  background-repeat: no-repeat;
  background-color: var(--surface-1);
  color: var(--text-1);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: var(--size-5);
}
input[type="search"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'%3E%3Cpath d='M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z'/%3E%3C/svg%3E");
  background-position: calc(100% - 0.75rem) center;
  background-repeat: no-repeat;
  padding-right: var(--size-6);
}
blockquote {
  text-align: center;
  quotes: "“" "“" "“" "“";
  font-size: var(--font-size-5)
}
blockquote p::before {
    content: open-quote;
    color: var(--brand);
    padding: var(--size-3);
  }
blockquote p::after {
    content: close-quote;
    color: var(--brand);
    padding: var(--size-3);
  }
cite {
  font-size: var(--font-size-3);
}
header {
  padding-block: var(--size-fluid-1);
}
footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: var(--surface-1);
  margin-block-start: var(--size-fluid-6)
}
footer img {
    aspect-ratio: inherit;
  }
footer > :first-child {
    background-color: var(--text-1);
  }
@media (max-width: 1024px) {
footer {
    flex-direction: column
}

    footer div {
      flex-direction: column;
      gap: var(--size-6) !important;
      margin-inline-start: inherit !important;
      align-items: start !important;
    }
  }
article {
  aspect-ratio: var(--aspect-widescreen);
}
time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-fluid-1);
}
/* purgecss start ignore */
.grid {
  display: grid;
  --fill: auto-fill;
  --card-size: 30rem;
  grid-template-columns: repeat(var(--fill), minmax(min(100%, var(--card-size)), 1fr))
}
@media (max-width: 1440px) {
    .grid {
      grid-column: inherit;
    }
  }
.grid[data-layout="extrem"] {
  grid-template-columns: 1fr
}
.grid[data-layout="extrem"] > * {
    aspect-ratio: inherit;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: var(--size-fluid-5);
    place-items: center start;
  }
.grid[data-layout="large"] {
  --card-size: 30rem;
}
.grid[data-layout="medium"] {
  --card-size: 22rem;
}
.grid[data-layout="small"] {
  --card-size: 16rem;
}
.grid[data-layout="tiny"] {
  --card-size: 14rem;
}
.grid[data-layout="newspaper"] {
  --card-size: 22rem
}
.grid[data-layout="newspaper"] > :first-child {
    grid-column: 1 / 3;
  }
.grid[data-layout="newspaper"] > :nth-child(2) img {
    aspect-ratio: var(--aspect-box);
  }
@media (max-width: 768px) {
    .grid[data-layout="newspaper"] {
      grid-template-columns: 1fr;
    }

    .grid[data-layout="newspaper"] > .card {
      grid-column: inherit;
    }

    .grid[data-layout="newspaper"] > :nth-child(2) img {
      aspect-ratio: var(--aspect-widescreen);
    }
  }
.grid[data-layout="magazine"] {
  --card-size: 16rem
}
.grid[data-layout="magazine"] > :first-child {
    grid-column: 1 / 3;
  }
.grid[data-layout="magazine"] > :nth-child(2) {
    grid-column: 3 / 5;
  }
/* purgecss end ignore */
.content {
  --desktop: 100rem;
  padding-inline: max((100% - var(--desktop)) /2, 1.2rem)
}
.content[data-width="large"] {
    --desktop: 90rem;
  }
.content[data-width="medium"] {
    --desktop: 70rem;
  }
.content[data-width="small"] {
    --desktop: 55rem;
  }
.content[data-width="tiny"] {
    --desktop: 30rem;
  }
.flex {
  display: flex;
}
.flex[data-direction="column"] {
  flex-direction: column;
}
.flex[data-direction="row"] {
  flex-direction: row;
}
.flex[data-wrap="wrap"] {
  flex-wrap: wrap;
}
.flex[data-wrap="reverse"] {
  flex-wrap: wrap-reverse;
}
.card header {
    padding-block: inherit;
  }
.card[data-type="person"] {
  text-align: center
}
.card[data-type="person"] img {
    width: 50%;
    height: auto;
    aspect-ratio: var(--aspect-box);
    border-radius: 50%;
  }
.navigation {
  box-shadow: var(--shadow);
  background-color: var(--surface-1);
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-fluid-1);
  flex-wrap: wrap
}
.navigation button:focus svg {
    transition: 0.4s transform ease;
    transform: rotate(-180deg);
  }
.navigation button:not(:focus) svg {
    transition: 0.4s transform ease;
    transform: rotate(0deg);
  }
.navigation :where(a, button) {
    text-decoration: underline 0.1em transparent;
    transition: text-decoration-color 250ms ease-in, fill 200ms ease-in;
  }
.navigation :hover:where(button, a) {
    color: var(--brand);
    text-decoration-color: var(--brand);
    fill: var(--brand);
  }
.navigation nav {
    margin-inline-end: auto;
    width: max-content;
  }
.navigation #menu-button {
    display: none;
    padding: var(--size-3);
    border: solid var(--surface-2) 0.15rem;
  }
@media (max-width: 1024px) {
    .navigation #menu-button {
      display: flex;
    }

    .navigation button {
      padding: inherit;
    }

    .navigation ul li:not(:last-child) {
      border-block-end: solid var(--surface-2) 0.15rem;
    }

    .navigation form {
      width: 100%;
      display: none
    }

      .navigation form input {
        width: 100%;
      }

    .navigation .logo {
      flex: 2;
    }

    .navigation nav {
      flex: 1 1 40rem;
      display: none;
    }
  }
.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
.menu .submenu {
    transform: translateY(2.3rem);
    top: 0;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: var(--surface-1);
    box-shadow: var(--shadow);
    border-radius: 0.7rem;
    width: max-content;
    gap: var(--size-fluid-1);
  }
.menu li {
    position: relative;
  }
@media (max-width: 1024px) {
    .menu ul {
      flex-direction: column;
      align-items: start;
      gap: inherit;
      flex: 1;
    }

    .menu li {
      width: 100%;
      padding-block: var(--size-3);
    }

    .menu li > a {
      display: inline-block;
    }

    .menu :where(a, button) {
      width: 100%;
    }

    .menu li button {
      display: flex;
      justify-content: space-between;
    }

    .menu .submenu {
      all: inherit;
      padding-inline-start: 1rem;
    }
  }
.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--size-fluid-1);
  flex-shrink: 0;
  font-size: var(--font-size-4);
  margin-inline-end: 2rem
}
.logo img {
    width: auto;
    max-height: var(--size-fluid-2);
    filter: none;
    border-radius: none;
    aspect-ratio: inherit;
  }
.logo svg {
    fill: var(--brand);
  }
.logo .full {
    max-height: var(--size-fluid-4);
  }
@media (max-width: 1024px) {
.logo {
    margin-inline-end: inherit
}
  }
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-block: var(--size-fluid-4)
}
.split > div {
    display: flex;
    flex-direction: column;
    gap: var(--size-fluid-1);
  }
.split :where(img, video) {
    aspect-ratio: var(--aspect-widescreen);
  }
@media (max-width: 1024px) {
    .split {
      grid-template-columns: 1fr;
      gap: var(--size-4);
    }

    .split > div {
      order: 0;
    }
  }
.split:nth-child(odd) > :first-child {
  order: 1;
}
.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-fluid-1)
}
.profile img {
    width: var(--size-6);
    height: var(--size-6);
    object-fit: cover;
    border-radius: 50%;
  }
/* purgecss start ignore */
.richtext {
  display: flex;
  flex-direction: column
}
.richtext img {
    margin-block: var(--size-4);
    aspect-ratio: var(--aspect-widescreen);
  }
.richtext ul {
    padding: revert;
    list-style: circle;
  }
.richtext .richtext-image.left {
    align-self: start;
    aspect-ratio: inherit;
    max-width: 100%;
    width: unset;
  }
.richtext .richtext-image.centered {
    aspect-ratio: inherit;
    align-self: center;
    max-width: 100%;
    width: unset;
  }
/* purgecss end ignore */
.hero {
  display: grid;
  grid-template: "container";
  place-items: center start
}
.hero > * {
    grid-area: container;
  }
.hero > div {
    --desktop: 100rem;
    margin-inline: max((100% - var(--desktop)) /2, 1.2rem);
    width: min(100%, 70rem);
    padding: var(--size-fluid-3);
    z-index: 1;
  }
.hero h1 {
    font-size: var(--font-size-7);
    margin-block-end: var(--size-fluid-2);
  }
.hero p {
    font-size: var(--font-size-4);
  }
.hero :where(img, figure, picture) {
    height: 100%;
  }
.hero img {
    max-height: 70vh;
    border-radius: 0;
  }
@media (max-width: 768px) {
    .hero img {
      height: 100%;
    }

    .hero > div {
      width: 100%;
      height: 100%;
      margin-inline: 0;
      border-radius: 0;
    }

    .hero h1 {
      font-size: var(--font-size-6);
    }

    .hero p {
      font-size: var(--font-size-3);
    }
  }
.banner {
  display: grid;
  grid-template: "container";
  place-items: center center;
  color: var(--surface-1)
}
.banner h2 {
    font-size: var(--font-size-6);
    color: var(--surface-1);
  }
.banner > * {
    grid-area: container;
  }
.banner :where(picture, img, figure) {
    height: 450px;
    border-radius: 0;
  }
.banner > :first-child {
    z-index: 1;
  }
.banner *[data-style="color"] {
    height: 450px;
    width: 100%;
  }
.banner .illustration {
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
@media (max-width: 768px) {
    .banner :where(picture, img, figure) {
      height: 100%;
    }

    .banner > div {
      width: 100%;
      height: 100%;
      padding-inline: 1.2rem;
      border-radius: inherit;
    }

    .banner > .illustration {
      background-image: none !important;
    }

    .banner *[data-style="color"] {
      height: 300px;
    }
  }
.skip {
  left: 50%;
  position: absolute;
  transform: translateY(-400%);
  transition: transform 0.3s;
  z-index: 20;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: var(--brand);
  color: var(--surface-1);
}
.skip:focus {
  transform: translateY(0%);
}
.info {
  color: var(--surface-2);
  font-size: var(--font-size-2);
}
.spacer {
  height: var(--size-fluid-4);
}
.calendar > ol {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    list-style: none;
  }
.calendar li {
    position: relative;
  }
.calendar > header {
    align-items: center;
    display: flex;
    font-size: var(--font-size-4);
    justify-content: space-between;
  }
@media (max-width: 1024px) {
    .calendar > ol {
      grid-template-columns: 1fr;
      gap: var(--size-fluid-4);
    }

    .calendar .days {
      display: none;
    }

    .calendar li:where(.deactive, :not(.elements)) {
      display: none !important;
    }
  }
.days {
  border-block: solid 0.15rem var(--surface-2);
  border-inline-start: solid 0.15rem var(--surface-2)
}
.days li {
    align-items: center;
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    justify-content: center;
    padding-block: 0.5rem;
  }
.events {
  border-inline-start: solid 0.15rem var(--surface-2);
  counter-reset: section
}
.events li {
    align-items: end;
    aspect-ratio: 5 / 3;
    border-block-end: solid 0.15rem var(--surface-2);
    border-inline-end: solid 0.15rem var(--surface-2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: end;
  }
@media (max-width: 1440px) {
    .events li {
      aspect-ratio: 5 / 4;
    }
  }
@media (max-width: 1024px) {
    .events {
      border: none;
    }

    .events li {
      border: none;
      aspect-ratio: inherit;
    }
  }
.cl-details {
  border-radius: 0;
  border: 0;
  padding: 0;
  width: 100%
}
.cl-details summary {
    background-color: rgb(240 240 240);
    border-inline-start: solid var(--brand) 0.2rem;
    display: grid;
    font-size: var(--font-size-2);
    font-weight: normal;
    line-height: 1.5;
    padding-inline: 0.2rem;
  }
.cl-details .day {
    align-items: center;
    background-color: var(--brand);
    border-radius: 0.7rem 0 0 0.7rem;
    color: var(--surface-1);
    display: none;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    width: 5rem;
  }
.cl-details .info {
    display: flex;
    gap: var(--size-1);
  }
.cl-details .cl-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.cl-details .info :first-child::after {
    content: "-";
    padding-inline-start: var(--size-1);
  }
.cl-details time {
    gap: 0;
  }
.cl-details[open] .detail {
    background-color: rgb(240 240 240);
    border-inline-start: solid var(--brand) 0.2rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    padding: var(--size-1);
    position: absolute;
    width: 20rem;
    z-index: 2;
  }
@media (max-width: 1024px) {
    .cl-details summary {
      background-color: var(--surface-1);
      border-radius: 0.7rem;
      border: none;
      box-shadow: var(--shadow);
      display: grid;
      font-size: var(--font-size-3);
      gap: 1rem;
      grid-template-columns: auto 1fr;
      min-height: 6rem;
      padding: 0;
      place-items: center start;
    }

    .cl-details .cl-info {
      gap: var(--size-1);
      padding: var(--size-fluid-2);
    }

    .cl-details[open] .detail {
      background-color: var(--surface-1);
      border-radius: 0 0 0.7rem 0.7rem;
      border: 0;
      box-shadow: var(--shadow);
      padding: var(--size-fluid-1);
      position: relative;
      width: 100%;
    }

    .cl-details[open] .day {
      border-radius: 0.7rem 0 0 0;
    }

    .cl-details[open] summary {
      border-radius: 0 0.7rem 0 0;
    }

    .cl-details .day {
      display: flex;
    }
  }
.events .active::before {
  content: counter(section);
  counter-increment: section;
  font-size: var(--font-size-3);
  padding-inline: var(--size-3);
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1
}
@media (max-width: 1024px) {
    .events .active::before {
      display: none;
    }
  }
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-fluid-1);
}
/* purgecss start ignore */
.hidden {
  display: none !important;
}
*[data-style="color"] {
  background-color: var(--brand);
  color: var(--surface-1);
  box-shadow: var(--shadow);
  padding-block-start: var(--size-fluid-3);
  padding-block-end: var(--size-fluid-5)
}
*[data-style="color"] img {
    filter: none;
  }
*[data-style="color"] a:hover {
    color: var(--surface-2);
  }
*[data-style="color"] :focus-visible {
    outline: 2px solid var(--surface-1);
  }
*[data-style="color"] select {
    color: var(--text-1);
  }
*[data-style="color"] :where(button, select) {
    border-color: var(--surface-1);
    color: var(--surface-1);
  }
*[data-style="color"]:where(.content, .media) {
    padding-block: var(--size-fluid-6);
    clip-path: polygon(0 calc(0% + 3vw), 100% 0, 100% calc(100% - 3vw), 0 100%);
  }
html .banner:not(:first-of-type) {
  clip-path: polygon(0 calc(0% + 3vw), 100% 0, 100% calc(100% - 3vw), 0 100%);
}
.accent {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' style='stop-color:white;stop-opacity:0'/%3E%3Cstop offset='1' style='stop-color:white;stop-opacity:.2'/%3E%3C/linearGradient%3E%3Cpath id='b' fill='url(%23a)' d='M1549 52a1562 1562 0 0 1-143 572 1537 1537 0 0 1-839 778 1504 1504 0 0 1-567 98 1502 1502 0 0 0 808-258 1477 1477 0 0 0 612-916c18-92 28-185 29-278 0-27 23-48 51-48s49 22 49 50v2z'/%3E%3Cg id='c'%3E%3Cuse href='%23b' transform='rotate(60) scale(.12)'/%3E%3Cuse href='%23b' transform='rotate(10) scale(.2)'/%3E%3Cuse href='%23b' transform='rotate(40) scale(.25)'/%3E%3Cuse href='%23b' transform='rotate(-20) scale(.3)'/%3E%3Cuse href='%23b' transform='rotate(-30) scale(.4)'/%3E%3Cuse href='%23b' transform='rotate(20) scale(.5)'/%3E%3Cuse href='%23b' transform='rotate(60) scale(.6)'/%3E%3Cuse href='%23b' transform='rotate(10) scale(.7)'/%3E%3Cuse href='%23b' transform='rotate(-40) scale(.835)'/%3E%3Cuse href='%23b' transform='rotate(40) scale(.9)'/%3E%3Cuse href='%23b' transform='rotate(25) scale(1.05)'/%3E%3Cuse href='%23b' transform='rotate(8) scale(1.2)'/%3E%3Cuse href='%23b' transform='rotate(-60) scale(1.333)'/%3E%3Cuse href='%23b' transform='rotate(-30) scale(1.45)'/%3E%3Cuse href='%23b' transform='rotate(10) scale(1.6)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(-50 0 0)'%3E%3Cuse href='%23c' transform='rotate(10)'/%3E%3Cuse href='%23c' transform='rotate(120)'/%3E%3Cuse href='%23c' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3C/svg%3E");
  background-attachment: fixed;
}
*[data-style="glass"] {
  border-radius: 0.7rem;
  background-color: var(--brand);
  color: var(--surface-1)
}
*[data-style="glass"] a:hover {
    color: var(--surface-2);
  }
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    *[data-style="glass"] {
      background-color: inherit;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
    }
  }
.contain {
  object-fit: contain;
}
.cover {
  object-fit: cover;
}
/* purgecss end ignore */
html :where(*[data-margin]) {
  margin: var(--margin);
}
*[data-margin="large"] {
  --margin: var(--size-fluid-6);
}
*[data-margin="medium"] {
  --margin: var(--size-fluid-4);
}
*[data-margin="small"] {
  --margin: var(--size-fluid-1);
}
*[data-margin="tiny"] {
  --margin: var(--size-2);
}
*[data-margin-block] {
  margin-block: var(--margin-block);
}
*[data-margin-block="large"] {
  --margin-block: var(--size-fluid-6);
}
*[data-margin-block="medium"] {
  --margin-block: var(--size-fluid-4);
}
*[data-margin-block="small"] {
  --margin-block: var(--size-fluid-1);
}
*[data-margin-block="tiny"] {
  --margin-block: var(--size-2);
}
*[data-margin-block-end] {
  margin-block-end: var(--margin-block-end);
}
html :where([data-margin-block-end="large"]) {
  --margin-block-end: var(--size-fluid-6);
}
*[data-margin-block-end="medium"] {
  --margin-block-end: var(--size-fluid-4);
}
*[data-margin-block-end="small"] {
  --margin-block-end: var(--size-fluid-1);
}
*[data-margin-block-end="tiny"] {
  --margin-block-end: var(--size-2);
}
*[data-margin-block-start] {
  margin-block-start: var(--margin-block-start);
}
*[data-margin-block-start="large"] {
  --margin-block-start: var(--size-fluid-6);
}
*[data-margin-block-start="medium"] {
  --margin-block-start: var(--size-fluid-4);
}
*[data-margin-block-start="small"] {
  --margin-block-start: var(--size-fluid-1);
}
*[data-margin-block-start="tiny"] {
  --margin-block-start: var(--size-2);
}
*[data-margin-inline] {
  margin-inline: var(--margin-inline);
}
*[data-margin-inlinet="large"] {
  --margin-inline: var(--size-fluid-6);
}
*[data-margin-inline="medium"] {
  --margin-inline: var(--size-fluid-4);
}
*[data-margin-inline="small"] {
  --margin-inline: var(--size-fluid-1);
}
*[data-margin-inline="tiny"] {
  --margin-inline: var(--size-2);
}
*[data-margin-inline-start] {
  margin-inline-start: var(--margin-inline-start);
}
*[data-margin-inlinet-start="large"] {
  --margin-inline-start: var(--size-fluid-6);
}
*[data-margin-inline-start="medium"] {
  --margin-inline-start: var(--size-fluid-4);
}
*[data-margin-inline-start="small"] {
  --margin-inline-start: var(--size-fluid-1);
}
*[data-margin-inline-start="tiny"] {
  --margin-inline-start: var(--size-2);
}
*[data-margin-inline-end] {
  margin-inline-end: var(--margin-inline-end);
}
*[data-margin-inlinet-end="large"] {
  --margin-inline-end: var(--size-fluid-6);
}
*[data-margin-inline-end="medium"] {
  --margin-inline-end: var(--size-fluid-4);
}
*[data-margin-inline-end="small"] {
  --margin-inline-end: var(--size-fluid-1);
}
*[data-margin-inline-end="tiny"] {
  --margin-inline-end: var(--size-2);
}
.gap {
  --gap: var(--size-fluid-8);
  gap: var(--gap);
}
.gap[data-gap="large"] {
  --gap: var(--size-fluid-8);
}
.gap[data-gap="medium"] {
  --gap: var(--size-fluid-5);
}
.gap[data-gap="small"] {
  --gap: var(--size-fluid-1);
}
.gap[data-gap="tiny"] {
  --gap: var(--size-2);
}
.align-start {
	align-items: start;
}
.align-center {
	align-items: center;
}
.align-end {
	align-items: end;
}
.align-self-start {
	align-self: start;
}
.align-self-center {
	align-self: center;
}
.align-self-end {
	align-self: end;
}
.aspect-landscape{
	aspect-ratio: var(--aspect-landscape);
}
.aspect-widescreen{
	aspect-ratio: var(--aspect-widescreen);
}
.aspect-portrait{
	aspect-ratio: var(--aspect-portrait);
}
.aspect-box{
	aspect-ratio: var(--aspect-box);
}
.justify-start {
	justify-content: start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: end;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.justify-evenly {
	justify-content: space-evenly;
}
*[data-padding] {
  padding: var(--padding);
}
*[data-padding="large"] {
  --padding: var(--size-fluid-6);
}
*[data-padding="medium"] {
  --padding: var(--size-fluid-4);
}
*[data-padding="small"] {
  --padding: var(--size-fluid-1);
}
*[data-padding="tiny"] {
  --padding: var(--size-2);
}
*[data-padding-block] {
  padding-block: var(--padding-block);
}
*[data-padding-block="large"] {
  --padding-block: var(--size-fluid-6);
}
*[data-padding-block="medium"] {
  --padding-block: var(--size-fluid-4);
}
*[data-padding-block="small"] {
  --padding-block: var(--size-fluid-1);
}
*[data-padding-block="tiny"] {
  --padding-block: var(--size-2);
}
*[data-padding-block-end] {
  padding-block-end: var(--padding-block-end);
}
*[data-padding-block-end="large"] {
  --padding-block-end: var(--size-fluid-6);
}
*[data-padding-block-end="medium"] {
  --padding-block-end: var(--size-fluid-4);
}
*[data-padding-block-end="small"] {
  --padding-block-end: var(--size-fluid-1);
}
*[data-padding-block-end="tiny"] {
  --padding-block-end: var(--size-2);
}
*[data-padding-block-start] {
  padding-block-start: var(--padding-block-start);
}
*[data-padding-block-start="large"] {
  --padding-block-start: var(--size-fluid-6);
}
*[data-padding-block-start="medium"] {
  --padding-block-start: var(--size-fluid-4);
}
*[data-padding-block-start="small"] {
  --padding-block-start: var(--size-fluid-1);
}
*[data-padding-block-start="tiny"] {
  --padding-block-start: var(--size-2);
}
*[data-padding-inline] {
  padding-inline: var(--padding-inline);
}
*[data-padding-inlinet="large"] {
  --padding-inline: var(--size-fluid-6);
}
*[data-padding-inline="medium"] {
  --padding-inline: var(--size-fluid-4);
}
*[data-padding-inline="small"] {
  --padding-inline: var(--size-fluid-1);
}
*[data-padding-inline="tiny"] {
  --padding-inline: var(--size-2);
}
*[data-padding-inline-start] {
  padding-inline-start: var(--padding-inline-start);
}
*[data-padding-inlinet-start="large"] {
  --padding-inline-start: var(--size-fluid-6);
}
*[data-padding-inline-start="medium"] {
  --padding-inline-start: var(--size-fluid-4);
}
*[data-padding-inline-start="small"] {
  --padding-inline-start: var(--size-fluid-1);
}
*[data-padding-inline-start="tiny"] {
  --padding-inline-start: var(--size-2);
}
*[data-padding-inline-end] {
  padding-inline-end: var(--padding-inline-end);
}
*[data-padding-inlinet-end="large"] {
  --padding-inline-end: var(--size-fluid-6);
}
*[data-padding-inline-end="medium"] {
  --padding-inline-end: var(--size-fluid-4);
}
*[data-padding-inline-end="small"] {
  --padding-inline-end: var(--size-fluid-1);
}
*[data-padding-inline-end="tiny"] {
  --padding-inline-end: var(--size-2);
}
.text-start {
  text-align: start;
}
.text-centered {
  text-align: center;
}
.text-end {
  text-align: end;
}
