html {
  --scrollbarBG: var(--surface-1);
  --thumbBG: var(--surface-4);

  scrollbar-width: thin;
}

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
}

html::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--thumbBG);
  border: 3px solid var(--scrollbarBG);
}

body {
  font-family: "Inter var";
  scrollbar-gutter: stable;
}

main {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Manrope VF";
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-2);
  font-size: var(--font-size-0);
  padding: var(--size-2);
}

:where(.content) {
  --desktop: 100rem;
  padding-inline: max((100% - var(--desktop)) /2, var(--size-fluid-2));
}

:where(.content)[data-width="large"] {
  --desktop: 90rem;
}

:where(.content)[data-width="medium"] {
  --desktop: 70rem;
}

:where(.content)[data-width="small"] {
  --desktop: 55rem;
}

:where(.content)[data-width="tiny"] {
  --desktop: 30rem;
}

:where([data-margin-block]) {
  margin-block: var(--margin-block);
}
:where([data-margin-block="large"]) {
  --margin-block: var(--size-fluid-7);
}
:where([data-margin-block="medium"]) {
  --margin-block: var(--size-fluid-4);
}
:where([data-margin-block="small"]) {
  --margin-block: var(--size-fluid-1);
}
:where([data-margin-block="tiny"]) {
  --margin-block: var(--size-2);
}
:where([data-margin-block-end]) {
  margin-block-end: var(--margin-block-end);
}
:where([data-margin-block-end="large"]) {
  --margin-block-end: var(--size-fluid-7);
}
:where([data-margin-block-end="medium"]) {
  --margin-block-end: var(--size-fluid-4);
}
:where([data-margin-block-end="small"]) {
  --margin-block-end: var(--size-fluid-1);
}
:where([data-margin-block-end="tiny"]) {
  --margin-block-end: var(--size-2);
}
:where([data-margin-block-start]) {
  margin-block-start: var(--margin-block-start);
}
:where([data-margin-block-start="large"]) {
  --margin-block-start: var(--size-fluid-7);
}
:where([data-margin-block-start="medium"]) {
  --margin-block-start: var(--size-fluid-4);
}
:where([data-margin-block-start="small"]) {
  --margin-block-start: var(--size-fluid-1);
}
:where([data-margin-block-start="tiny"]) {
  --margin-block-start: var(--size-2);
}

.overflow {
  overflow: hidden !important;
}

main > :first-child:not(.hero, .spacer, .banner, .split, .hero-project) {
  margin-block-start: var(--size-fluid-3);
}

h2 {
  font-size: var(--font-size-5);
}

.heading {
  text-align: center;
}

input {
  border-radius: var(--radius-2);
  padding-inline: var(--size-3);
  padding: var(--size-2);
  border: none;
}

.grid {
  --repeat: 3;
  display: grid;
  grid-template-columns: repeat(var(--repeat), 1fr);
  gap: var(--size-fluid-3);
}

.grid[data-grid="extrem"] {
  --repeat: 1;
}

.grid[data-grid="large"] {
  --repeat: 2;
}

.grid[data-grid="medium"] {
  --repeat: 3;
}

.grid[data-grid="small"] {
  --repeat: 4;
}

.grid[data-grid="tiny"] {
  --repeat: 5;
}

.grid[data-contain="True"] img {
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .grid {
    --repeat: 2;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--size-fluid-1);
}

.form > div {
  display: flex;
  flex-direction: column;
}

.form label {
  color: var(--text-2);
}

.form input {
  padding: var(--size-2);
  border: solid var(--border-size-1) var(--surface-3);
}

.form button {
  padding: var(--size-2);
  border: none;
  border-radius: var(--radius-2);
  background: var(--brand);
}

.form textarea {
  border-radius: var(--radius-2);
  padding: var(--size-2);
  border: solid var(--border-size-1) var(--surface-3);
}

div[data-tag="Submissionfield"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
