.devices header {
  display: flex;
  align-items: stretch;
  justify-content: start;
  margin-block-end: var(--size-fluid-3);
  gap: var(--size-fluid-2);
  flex-wrap: wrap-reverse;
}

.devices .filter {
  display: flex;
  gap: var(--size-fluid-1);
}

.devices--grid {
  display: grid;
  gap: var(--size-fluid-3);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
}

.devices .active {
  background: var(--brand-gradient);
}

@media only screen and (max-width: 768px) {
  .devices header {
    justify-content: start;
  }

  .devices header input {
    flex: 1;
  }
}
