.footer {
  background: var(--noise-1);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding-block: var(--size-fluid-4);
  gap: var(--size-fluid-4);
}

.footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-fluid-4);
}

.footer ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: var(--size-fluid-3);
}

.footer a {
  color: var(--text-1);
}

.footer a:hover {
  text-decoration: underline 0.1em var(--text-2);
}

.footer .footer--sponsors {
  justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
  .footer ul {
    flex-direction: column;
  }
}

.footer .language {
  display: flex;
  gap: var(--size-fluid-1);
  align-items: center;
}

.footer .language select {
  padding: var(--size-2);
}

.footer .language label {
  display: flex;
  align-items: center;
  gap: var(--size-1);
  color: var(--text-1);
  fill: var(--text-1);
}