.search {
    position: relative;
}

.search input {
  background-color: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: unset;
}

.search input:focus-within {
  outline: none;
}

.search svg {
  stroke: var(--text-1);
}

.search .input:focus-within {
  outline: var(--border-size-2) solid var(--brand);
}

.search .input {
  display: flex;
  flex-direction: row;
  background-color: var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--size-2);
}

.results {
  list-style: none;
  transform: translateY(0.5rem);
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: start;
  position: absolute;
  gap: var(--size-fluid-1);
  background-color: var(--surface-2);
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-2);
  width: 100%;
  gap: var(--size-fluid-1);
  padding: var(--size-fluid-1);
}

.results li a {
  text-decoration: none;
}

.results li a:hover {
    text-decoration: none;
}

.results li {
  border-block-end: var(--border-size-2) solid var(--surface-3);
  width: 100%;
}