.card {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template: "container";
  gap: var(--size-2);
  aspect-ratio: var(--ratio-widescreen);
}

.card > * {
  grid-area: container;
}

.card h3 {
  color: var(--text-1-dark);
}

.card figure {
  border-radius: var(--radius-3);
}

.card picture {
  height: 100%;
}

.card div {
  place-self: end start;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: var(--radius-3);
  color: var(--text-1-dark);
  padding: var(--size-fluid-1);
  margin: var(--size-fluid-1);
}

.card a:hover {
  text-decoration: underline 0.1em var(--text-1);
}

.card a::after {
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  place-self: stretch;
}

@media (max-width: 768px) {
  .card > div {
    margin: inherit;
    border-radius: 0 0 var(--radius-3) var(--radius-3);
    width: 100%;
  }
}
