{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="robots" content="noindex" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="description" content="{{ page.search_description }}" />
        <style>
            :root {
                --brand: {{settings.global.GlobalSettings.brand_color}};
                --text-1: {{settings.global.GlobalSettings.text_color}};
                --surface-1: {{settings.global.GlobalSettings.surface_color_one}};
                --surface-2: {{settings.global.GlobalSettings.surface_color_two}};
            }
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <link rel="icon" href="{% static 'svg/favicon.svg' %}" type="image/svg+xml">
    </head>
    <body class="body">
        {% block content %}{% endblock %}
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
    </body>
</html>
