{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags i18n%}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html class="no-js" lang="{{LANGUAGE_CODE}}">
<head>
    {% if page.index == "noindex"%}
        <meta name="robots" content="noindex" />
    {% endif %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{{page.search_description}}" />

    <link href="https://rsms.me/inter/inter.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
    <script defer src="{% static 'js/cms.js' %}"></script>
    <style>
        :root {
            --brand: {{settings.site_settings.SiteSettings.brand_color}};
            --text-1: {{settings.site_settings.SiteSettings.text_color}};
            --surface-1: {{settings.site_settings.SiteSettings.surface_color_one}};
            --surface-2: {{settings.site_settings.SiteSettings.surface_color_two}};
        }

        .fl-brand, .fl-accent {
            background-size: 40%;
            background-image: url("{%static 'svg/background.svg'%}");
        }
    </style>

    <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}">
    <meta property="og:description" content="{{page.search_description}}">

    {% image page.og_image original as og_image %}
    <meta property="og:image" content="{{og_image.full_url}}">
    <meta property="og:image:alt" content="{{page.og_image_alt}}">
    <meta property="og:locale" content="de">
    <meta property="og:type" content="{{page.og_type}}">
    <meta property="og:url" content="{{page.full_url}}">
    <meta name="twitter:card" content="{{page.tw_size}}">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="canonical" href="{{page.full_url}}">
</head>

<body class="fl-body">
    {% block svg %}{% endblock %}

    {% wagtailuserbar %}

    {% include "organisms/navigation.html" %}

    {% block content %}{% endblock %}

    {% include "organisms/footer.html" %}
    
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>