{% load wagtailimages_tags %}

{% image video.preview fill-1920x1080 format-webp webpquality-70 as poster_image %}

<video id="hero-video" muted loop {% if video.preview %}poster="{{poster_image.url}}" preload="none"{% endif %}>
    <source src="{{video.url}}" type="video/{{video.file_extension}}">
    {% if video.advanced_mobile %}
        <source src="{{video.advanced_mobile.url}}" type="video/mp4">
    {% endif %}
</video>

<button id="control">
    <span id="play" class="visible">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-play"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg>
    </span>
    <span id="pause" class="hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pause"><rect width="4" height="16" x="6" y="4"></rect><rect width="4" height="16" x="14" y="4"></rect></svg>
    </span>
</button>
