{% block content %}
    {% if value %}
        {% if anchor %}
            <div class="fl-flex align-center justify-center gap margin"
                 data-margin="block-end"
                 data-margin-size="medium"
                 data-gap="small">
                <a style="text-decoration: none;"
                   aria-label="Link zu dieser Ueberschrift"
                   aria-describedby="{{ value|cut:" " }}"
                   href="#{{ value|cut:" " }}">#</a>
                <h2 id="{{ value|cut:" " }}">{{ value }}</h2>
            </div>
        {% else %}
            <h2 class="fl-flex align-center justify-center margin"
                id="{{ value|cut:" " }}"
                data-margin="block-end"
                data-margin-size="medium">
                {{ value }}
            </h2>
        {% endif %}
    {% endif %}
{% endblock %}
