{% if value %}
    {% if anchor %}
        <div class="heading" data-margin-block-end="medium">
            <a style="text-decoration: none;"
               aria-label="Link zu dieser Ueberschrift"
               aria-describedby="{{ value|cut:" " }}"
               href="#{{ value|cut:" " }}">#</a>
            <h2 id="{{ value|cut:" " }}">{{ value }}</h2>
        </div>
    {% else %}
        <h2 class="heading"
            id="{{ value|cut:" " }}"
            data-margin-block-end="medium">{{ value }}</h2>
    {% endif %}
{% endif %}
