{% load wagtailimages_tags %}
{{test}}
<figure>
        {% image image fill-854x480-c70 format-webp webpquality-80 as image_768 %}
        {% image image fill-480x360-c70 format-webp webpquality-60 as image_480 %}
        <picture>
                <source srcset="{{srcset}}" sizes="{{sizes}}" type="image/webp">
                <source srcset="" sizes="" type="image/jpg">
                <img src="{{image_480.url}}" alt="" decoding="async" loading="lazy">
        </picture>
        <figcaption>{{credit}}</figcaption>
</figure>