{% if value.sponsor.all|length != 0 %}
    <div class="flex gap" data-gap="small">
        {% for element in value.sponsor.all %}
            {% load wagtailimages_tags %}
            {% if LANGUAGE_CODE == "en" %}
                {% image element.logo_en width-200 format-webp webpquality-60 as sp_image %}
                <img style="width: inherit; height: inherit"
                     class="contain"
                     src="{{ sp_image.url }}"
                     alt="{{ element.logo_alt }}"
                     loading="lazy"
                     decoding="async">
            {% else %}
                {% image element.logo width-200 format-webp webpquality-60 as sp_image %}
                <img style="width: inherit; height: inherit"
                     class="contain"
                     src="{{ sp_image.url }}"
                     alt="{{ element.logo_alt }}"
                     loading="lazy"
                     decoding="async">
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
