<script src="https://www.google.com/recaptcha/api.js?render={{ field.public_key }}{% if widget.api_params %}&{{ api_params }}{% endif %}"></script>
<script type="text/javascript">
    grecaptcha.ready(function () {
        document.getElementById('form').addEventListener('submit', function (event) {
            event.preventDefault()
            grecaptcha.execute('{{ field.public_key }}', { action: 'form' }).then(function (token) {
                var element = document.querySelector('.g-recaptcha[data-widget-uuid="{{ widget.uuid }}"]')
                element.value = token
                document.getElementById('form').submit()
            })
        }, false)
    })
</script>
<input class="g-recaptcha"
    type="hidden"
    name="wagtailcaptcha"
    id="id_wagtailcaptcha"
    data-widget-uuid="{{ widget.uuid }}"
    data-callback="onSubmit_{{ widget.uuid }}"
    {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}
>
